@using EIDSS.Domain.Enumerations
@using EIDSS.Domain.ViewModels.Veterinary
@using EIDSS.Web.Components.CrossCutting

@inherits PensideTestBase

<RadzenTemplateForm Data="Model" @ref="Form" Submit="OnSubmit" TItem="PensideTestGetListViewModel">
    <div class="card">
        <DataAnnotationsValidator/>
        <InterfaceEditorResource CssClass="col-6" For="testName" InterfaceEditorKey="@TestNameFieldLabelResourceKey" IsRow="true">
            <RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value="Model.PensideTestNameTypeID" Change="args => OnPensideTestChange(args)" class="form-control" Data="PensideTestNameTypes" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LoadData="GetPensideTestNameTypes" Name="testName" TextProperty="strPensideTestName" TValue="long?" ValueProperty="idfsPensideTestName"/>
        </InterfaceEditorResource>
        <div class="form-row">
            <InterfaceEditorResource CssClass="col-6" For="fieldSampleID" InterfaceEditorKey="@FieldSampleIdFieldLabelResourceKey" IsRow="false">
                <RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value="Model.SampleID" Change="args => OnSampleChange(args)" class="form-control" Data="DiseaseReport.Samples.Where(x => x.RowStatus == (int) RowStatusTypeEnum.Active)" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Name="fieldSampleID" TextProperty="EIDSSLocalOrFieldSampleID" TValue="long?" ValueProperty="SampleID"/>
            </InterfaceEditorResource>
            <InterfaceEditorResource InterfaceEditorKey="@SampleTypeFieldLabelResourceKey" IsRow="false" CssClass="col-6" For="sampleType">
                <RadzenTextBox @bind-Value="Model.SampleTypeName" class="form-control" Disabled="true" MaxLength="200" Name="sampleType"/>
            </InterfaceEditorResource>
        </div>
        <div class="form-row">
            @if (DiseaseReport.ReportCategoryTypeID == (long) CaseTypeEnum.Avian)
            {
                <InterfaceEditorResource CssClass="col-6" For="species" InterfaceEditorKey="@SpeciesFieldLabelResourceKey" IsRow="false">
                    <RadzenTextBox @bind-Value="Model.Species" class="form-control" Disabled="true" MaxLength="200" Name="species"/>
                </InterfaceEditorResource>
            }
            else
            {
                <InterfaceEditorResource CssClass="col-6" For="animalID" InterfaceEditorKey="@AnimalIdFieldLabelResourceKey" IsRow="false">
                    <RadzenTextBox @bind-Value="Model.EIDSSAnimalID" class="form-control" Disabled="true" MaxLength="200" Name="animalID"/>
                </InterfaceEditorResource>
            }
        </div>
        <InterfaceEditorResource CssClass="col-6" For="result" InterfaceEditorKey="@ResultFieldLabelResourceKey" IsRow="true">
            <RadzenDropDown AllowClear="true" AllowFiltering="true" @bind-Value="Model.PensideTestResultTypeID" class="form-control" Data="PensideTestResultTypes" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" LoadData="GetPensideTestResultTypes" Name="result" TextProperty="strTestResultName" TValue="long?" ValueProperty="idfsTestResult"/>
        </InterfaceEditorResource>
        <div class="card-footer">
            <div class="form-row">
                <div class="col-md-12">
                    <button class="btn btn-outline-primary" @onclick="OnCancel" type="button">@Localizer.GetString(ButtonResourceKeyConstants.CancelButton)</button>
                    <button class="btn btn-primary" @onsubmit="OnSubmit" type="submit">@Localizer.GetString(ButtonResourceKeyConstants.SaveButton)</button>
                </div>
            </div>
        </div>
    </div>
</RadzenTemplateForm>