@using EIDSS.Web.Components.CrossCutting

<link href="@Url.Content("~/css/Outbreak/sessionUpdates.css")" rel="stylesheet" />

<div id="nav-updates" class="@Model.UpdatesPaneClass" role="tabpanel" aria-labelledby="nav-transferred-samples-tab">
    <div class="row pb-4">
        <div class="col-lg-10">
            <button ID="btnCreateUpdate" class="btn btn-primary btn-sm" value="Create" onclick="outbreakCreate.showUpdateEntry(true);">@Localizer.GetString(ButtonResourceKeyConstants.OutbreakCasesCreateButtonText)</button>
        </div>
        <div class="col-lg-2 text-right">
            <a ID="lnbPrint" class="btn btn-primary btn-sm" CausesValidation="false" onclick="printSessionUpdates()">
                <span class="fa fa-print" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div class="row" id="dUpdates"></div>
</div>

<div class="modal fade" id="printOutbreakUpdatesModal" tabindex="-1" role="dialog" aria-labelledby="printOutbreakUpdatesModal">
    <div class="modal-dialog" style="top: 150px; left: 150px; max-width: 1050px; max-height: 600px; resize: both">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Localizer.GetString(HeadingResourceKeyConstants.CommonHeadingsPrintHeading)</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
            </div>
            <div class="modal-body" style="width: 1050px; height: 600px;">
                <component type="typeof(DisplayReport)" param-ReportHeader="@Model.OutbreakReportPrintViewModel.ReportHeader" param-ReportName="@Model.OutbreakReportPrintViewModel.ReportName" param-Parameters="@Model.OutbreakReportPrintViewModel.Parameters" render-mode="Server" />
            </div>
        </div>
    </div>
</div>
