@model EIDSS.Web.Administration.Security.ViewModels.UserGroupPageDetailsViewModel
<script>
    $(function () {
        $("#userGroupWizard").steps({
            headerTag: "h2",
            titleTemplate: '<span class="fas fa-check-circle fa-lg"></span> #title#',
            bodyTag: "section",
            transitionEffect: "none",
            stepsOrientation: "vertical",
            enableAllSteps: true,
            enableCancelButton: true,
            enableKeyNavigation: true,
            labels: {
                cancel: "@Localizer.GetString(ButtonResourceKeyConstants.CancelButton)",
                finish: "@Localizer.GetString(ButtonResourceKeyConstants.SubmitButton)",
                next: "@Localizer.GetString(ButtonResourceKeyConstants.NextButton)",
                previous: "@Localizer.GetString(ButtonResourceKeyConstants.PreviousButton)",
                loading: "Loading..."
            }
        });
    });
</script>
<div id="userGroupWizard">
    <h2>Information</h2>
    <section>
        <partial name="_InformationPartial" for="@Model.InformationSection" />
    </section>
    <h2>Users and Groups</h2>
    @*<section>
        <partial name="_UsersAndGroupsPartial" for="EmployeesForUserGroupGridConfiguration" />
    </section>
    <h2>System Functions</h2>
    <h2>Dashboard Icons</h2>
    <section>
        <partial name="_DashboardIconsPartial" for="DashboardIcons" />
    </section>
    <h2>Dashboard Grids</h2>
    <section>
        <partial name="_DashboardGridsPartial" for="DashboardGrids" />
    </section>*@
    <h2 heading-for="@HeadingResourceKeyConstants.ReviewHeading"></h2>
    <section>
    </section>
</div>
