@using EIDSS.Web.Areas.Administration.SubAreas.Security.ViewModels.SecurityEventLog
@using EIDSS.Domain.ViewModels.Administration.Security
@using EIDSS.Web.Components.CrossCutting;
@inherits EIDSS.Web.Components.Administration.Security.SecurityEventLog.SearchSecurityEventLogBase

<RadzenTemplateForm id="searchForm" @ref="form" TItem="SecurityEventLogSearchPageViewModel" Data="@model" Submit="@HandleValidSearchSubmit">
    <div id="accordion">
        <!--search criteria-->
        <div class="card">
            <div class="card-header" id="searchCriteria">
                <button class="btn d-inline-block"
                        type="button"
                        data-toggle="collapse"
                        aria-expanded="false"
                        aria-controls="searchCriteriaBody"
                        @onclick="@(() => AccordionClick(0))">
                    <span class="text-left fas @(expandSearchCriteria ? "fa-caret-down" : "fa-caret-right")" ></span>
                    <h4 class="mb-0 d-inline-block"> @Localizer.GetString(HeadingResourceKeyConstants.SearchCriteriaHeading)</h4>
                </button>
            </div>
            <div id="searchCriteriaBody" class="@(expandSearchCriteria ?  "collapse show" : "collapse" )" aria-labelledby="searchCriteria" data-parent="#accordion">
                <div class="card-body">
                    <div class="form-row">
                        <fieldset class="col-md-12">
                            <legend>@Localizer.GetString(HeadingResourceKeyConstants.SystemEventsLogActionDateHeading)</legend>
                            <div class="row">
                                <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogTransactionDateFromFieldLabel" IsRow="false" CssClass="col-md-4" For="SearchCriteria_StartDate">
                                    <RadzenDatePicker id="SearchCriteria_StartDate" Name="SearchCriteria_StartDate" AllowClear="true" AllowInput="true" class="form-control-range" TValue="DateTime?" @bind-Value="@model.SearchCriteria.ActionStartDate" DateFormat="d"/>
                                    <RadzenCompareValidator Value="@model.SearchCriteria.ActionEndDate" Component="SearchCriteria_StartDate" Popup="false" Operator="CompareOperator.LessThanEqual"
                                                            Text="@string.Format(Localizer.GetString(MessageResourceKeyConstants.Date1MustBeSameOrEarlierThanDate2Message), Localizer.GetString(FieldLabelResourceKeyConstants.SearchUserDataAuditLogTransactionDateFromFieldLabel), Localizer.GetString(FieldLabelResourceKeyConstants.SearchDataAuditLogTransactionDateToFieldLabel))"
                                                            Style="display: block" Visible="@(!string.IsNullOrEmpty(model.SearchCriteria.ActionEndDate.ToString()))"/>
                                    <RadzenCompareValidator Value="@DateTime.Now" Component="SearchCriteria_StartDate" Popup="false" Operator="CompareOperator.LessThanEqual"
                                                            Text="@Localizer.GetString(MessageResourceKeyConstants.FutureDatesAreNotAllowedMessage)"
                                                            Style="display: block"/>
                                </InterfaceEditorResource>
                                <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogTransactionDateToFieldLabel" IsRow="false" CssClass="col-md-4" For="SearchCriteria_EndDate">
                                    <RadzenDatePicker id="SearchCriteria_EndDate" class="form-control-range" TValue="DateTime?" AllowInput="true" @bind-Value="@model.SearchCriteria.ActionEndDate" Name="SearchCriteria_EndDate" AllowClear="true" DateFormat="d"/>
                                    <RadzenCompareValidator Value="@model.SearchCriteria.ActionStartDate" Component="SearchCriteria_EndDate" Popup="false" Operator="CompareOperator.GreaterThanEqual"
                                                            Text="@string.Format(Localizer.GetString(MessageResourceKeyConstants.Date2MustBeSameOrLaterThanDate1Message), Localizer.GetString(FieldLabelResourceKeyConstants.SearchDataAuditLogTransactionDateToFieldLabel), Localizer.GetString(FieldLabelResourceKeyConstants.SearchDataAuditLogTransactionDateFromFieldLabel))"
                                                            Style="display: block" Visible="@(!string.IsNullOrEmpty(model.SearchCriteria.ActionStartDate.ToString()))"/>
                                    <RadzenCompareValidator Value="@DateTime.Now" Component="SearchCriteria_EndDate" Popup="false" Operator="CompareOperator.LessThanEqual"
                                                            Text="@Localizer.GetString(MessageResourceKeyConstants.FutureDatesAreNotAllowedMessage)"
                                                            Style="display: block"/>
                                </InterfaceEditorResource>
                            </div>
                        </fieldset>
                    </div>
                    
                    <div class="form-row">
                        <!--Action Drop Down-->
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogActionFieldLabel" IsRow="false" CssClass="col-md-4" For="actionId">
                            <RadzenDropDown id="actionId" Name="actionId" AllowClear="true" TValue="long?" Data="@actionList" Count="@actionCount" LoadData="@GetActionListAsync"
                                            ValueProperty="IdfsBaseReference" TextProperty="Name" @bind-Value="@model.SearchCriteria.Action" class="form-control"
                                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                        </InterfaceEditorResource>
                        
                        <!--Process Type Drop Down-->
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogProcessTypeFieldLabel" IsRow="false" CssClass="col-md-4" For="ProcessTypeId">
                            <RadzenDropDown id="ProcessTypeId" Name="ProcessTypeId" AllowClear="true" TValue="long?" Data="@ProcessTypeList" LoadData="@GetProcessTypeListAsync"
                                            ValueProperty="IdfsBaseReference" TextProperty="Name" @bind-Value="@model.SearchCriteria.ProcessType" class="form-control"
                                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                        </InterfaceEditorResource>

                    </div>

                    <div class="form-row">
                        <!--Result Drop Down-->
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogResultFieldLabel" IsRow="false" CssClass="col-md-4" For="resultId">
                            <RadzenDropDown id="resultId" Name="resultId" AllowClear="true" TValue="long?" Data="@ResultList" LoadData="@GetResultListAsync"
                                            ValueProperty="IdfsBaseReference" TextProperty="Name" @bind-Value="@model.SearchCriteria.ResultType" class="form-control"
                                            AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"/>
                        </InterfaceEditorResource>

                        <!--Object Id-->
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogObjectIDFieldLabel" IsRow="false" CssClass="col-md-4" For="ObjectId">
                            <RadzenNumeric Max="9223372036854775807" id="ObjectId" TValue="long?" Name="ObjectId"  @bind-Value="@model.SearchCriteria.ObjectId" class="form-control" ShowUpDown="false"/>
                        </InterfaceEditorResource>
                        
                        
                        <!--User Drop Down-->
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogUserFieldLabel" IsRow="false" CssClass="col-4" For="userId">
                            <RadzenDropDownDataGrid TValue="long?" Name="userId"   Data="@userList" Style="width:100%" AllowColumnResize="true"
                                                    @bind-Value="@model.SearchCriteria.UserId"   AllowClear="true" PageSize="10"
                                                    ValueProperty="idfUserID" TextProperty="FullName" AllowSorting="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowFilteringByAllStringColumns="true">
                                <Columns>
                                    <RadzenDropDownDataGridColumn Property="FullName" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.NameColumnHeading)" Width="100px" />
                                </Columns>
                            </RadzenDropDownDataGrid>
                        </InterfaceEditorResource>

                    </div>
                    
                       <div class="form-row">
                        <!--Error Text-->
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogErrorTextFieldLabel" IsRow="false" CssClass="col-md-4" For="ErrorText">
                            <RadzenTextBox MaxLength="100" id="ErrorText"Name="ErrorText"  @bind-Value="@model.SearchCriteria.ErrorText" class="form-control" />
                        </InterfaceEditorResource>
                        
                        <!--Process Id-->
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogProcessIDFieldLabel" IsRow="false" CssClass="col-md-4" For="ProcessId">
                            <RadzenTextBox MaxLength="100" id="ProcessId"Name="ProcessId"  @bind-Value="@model.SearchCriteria.ProcessId" class="form-control" />
                        </InterfaceEditorResource>
                        
                        <!--Description-->
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.SecurityEventsLogDescriptionFieldLabel" IsRow="false" CssClass="col-md-4" For="Description">
                            <RadzenTextBox MaxLength="100" id="Description"Name="Description"  @bind-Value="@model.SearchCriteria.Description" class="form-control" />
                        </InterfaceEditorResource>

                    </div>
                   
                </div>
            </div>
        </div>
        <!--end search criteria-->
        <!--search criteria buttons-->
        <div class="card-footer @(showSearchCriteriaButtons ?  " d-block" : "d-none" )">
            <div class="row">
                <div class="col-md-12">
                    @if(!String.IsNullOrEmpty(CancelUrl)){
                        <button id="cancelSearchButton" class="btn btn-outline-primary" type="button" @onclick=@(CancelSearchClicked)>@Localizer.GetString(ButtonResourceKeyConstants.CancelButton)</button>
                    }
                    <button id="clearButton" class="btn btn-outline-primary" type="reset" @onclick="@(ResetSearch)">@Localizer.GetString(ButtonResourceKeyConstants.ClearButton)</button>
                    <button id="searchButton" type="submit" class="btn btn-primary" autofocus disabled="@disableSearchButton">@Localizer.GetString(@ButtonResourceKeyConstants.SearchButton)</button>
                </div>
            </div>
        </div>
        <!--search criteria buttons-->
        <!--search results-->
        <div class="card @(showSearchResults ?  " d-block" : "d-none" )">
            <div class="card-header" id="searchResultsHeader">
                <h4 class="d-inline-block" style="line-height: 1.5rem; padding: 0.375rem 0.75rem;">@Localizer.GetString(HeadingResourceKeyConstants.SearchResultsHeading)</h4>
            </div>
            <div id="searchResultsBody" class="collapse show" aria-labelledby="searchResults" data-parent="#accordion">
                <div class="card-body">
                    
                    <GridExtension OnColumnSave="GridDataAuditClickHandler"></GridExtension>
                    <div class="row">
                        <div class="col-12">
                            <RadzenDataGrid @ref="grid" id="searchResults" TItem="SecurityEventLogGetListViewModel" IsLoading="@isLoading" LoadData="@(LoadData)" Data="@model.SearchResults" AllowPaging="true" AllowSorting="true" Count="@count" AllowColumnResize="true" ExpandMode="DataGridExpandMode.Single"
                                            AllowColumnReorder="true" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)"
                                            Visible="@showSearchResults" PageSizeOptions="@pageSizeOptions" ShowPagingSummary="true" 
                                            AllowColumnPicking="true" 
                                            HeaderCellRender="@((args) => HeaderCellRender(args.Column.Property))">
                                <Columns>
                                    <RadzenDataGridColumn TItem="SecurityEventLogGetListViewModel" Reorderable="true" OrderIndex="@FindColumnOrder("datActionDate")" Visible="@GetColumnVisibility("datActionDate")" Property="datActionDate" Title="@Localizer.GetString(HeadingResourceKeyConstants.SecurityEventsLogActionDateHeading)" Width="150px" Sortable="true" SortProperty="datActionDate"/>
                                    <RadzenDataGridColumn TItem="SecurityEventLogGetListViewModel" Reorderable="true" OrderIndex="@FindColumnOrder("strActionDefaultName")" Visible="@GetColumnVisibility("strActionDefaultName")" Property="strActionDefaultName" Title="@Localizer.GetString(HeadingResourceKeyConstants.SecurityEventsLogActionHeading)" Sortable="true" Width="100px"  SortProperty="strActionDefaultName" />
                                    <RadzenDataGridColumn TItem="SecurityEventLogGetListViewModel" Reorderable="true" OrderIndex="@FindColumnOrder("strResultDefaultName")" Visible="@GetColumnVisibility("strResultDefaultName")" Property="strResultDefaultName" Title="@Localizer.GetString(HeadingResourceKeyConstants.SecurityEventsLogResultHeading)" Sortable="true" Width="100px"  SortProperty="strResultDefaultName"/>
                                    <RadzenDataGridColumn TItem="SecurityEventLogGetListViewModel" Reorderable="true" OrderIndex="@FindColumnOrder("strProcessTypeDefaultName")" Visible="@GetColumnVisibility("strProcessTypeDefaultName")" Property="strProcessTypeDefaultName" Title="@Localizer.GetString(HeadingResourceKeyConstants.SecurityEventsLogProcessIDHeading)" Sortable="true" Width="100px" SortProperty="strProcessTypeDefaultName" />
                                    <RadzenDataGridColumn TItem="SecurityEventLogGetListViewModel" Reorderable="true" OrderIndex="@FindColumnOrder("idfObjectID")" Visible="@GetColumnVisibility("idfObjectID")" Property="idfObjectID" Title="@Localizer.GetString(HeadingResourceKeyConstants.SecurityEventsLogObjectIDHeading)" Sortable="true" Width="100px" SortProperty="idfObjectID"/>
                                    <RadzenDataGridColumn TItem="SecurityEventLogGetListViewModel" Reorderable="true" OrderIndex="@FindColumnOrder("strPersonName")" Visible="@GetColumnVisibility("strPersonName")"  Property="strPersonName" Title="@Localizer.GetString(HeadingResourceKeyConstants.SecurityEventsLogUserHeading)" Width="100px" Sortable="true"  SortProperty="strPersonName"/>
                                    <RadzenDataGridColumn TItem="SecurityEventLogGetListViewModel" Reorderable="true" OrderIndex="@FindColumnOrder("strErrorText")" Visible="@GetColumnVisibility("strErrorText")" Property="strErrorText" Title="@Localizer.GetString(HeadingResourceKeyConstants.SecurityEventsLogErrorTextHeading)" Width="100px" Sortable="true"  SortProperty="strErrorText"/>
                                    <RadzenDataGridColumn TItem="SecurityEventLogGetListViewModel" Reorderable="true" OrderIndex="@FindColumnOrder("strProcessID")" Visible="@GetColumnVisibility("strProcessID")" Property="strProcessID" Title="@Localizer.GetString(HeadingResourceKeyConstants.SecurityEventsLogProcessIDHeading)" Width="100px" Sortable="true"  SortProperty="strProcessID" />
                                    <!-- Need to add description-->
                                </Columns>
                            </RadzenDataGrid>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <button id="cancelButtonResults" class="btn btn-outline-primary" type="button" @onclick="@(() => CancelSearchClicked())">@Localizer.GetString(ButtonResourceKeyConstants.CancelButton)</button>
                    </div>
                </div>
            </div>
        </div>
        <!--end search results-->
    </div>


</RadzenTemplateForm>

@code{

    void GridDataAuditClickHandler()
    {
        GridColumnSave("SearchDataAuditModule");
    }
}

