@using EIDSS.Web.ViewModels;
@using EIDSS.Domain.ResponseModels.Administration
@using EIDSS.Web.ViewModels.Administration
@using EIDSS.Web.Components.CrossCutting
@using EIDSS.Web.Components.Shared
@using EIDSS.Localization.Constants
@using EIDSS.Web.Services
@using EIDSS.Domain.Enumerations

<h3>AddAgeGroupComponent</h3>

@code {

}
<div class="form-row">
<div class="form-group col-md-6">
<InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.StatisticalDataDetailsStatisticalPeriodTypeFieldLabel" IsRow="false" CssClass="col-md-6" For="StatisticalPeriodType" IsRequiredByDefaultBusinessRule="false">
    <RadzenTextBox id="StatisticalPeriodType" Name="StatisticalPeriodType"  MaxLength="100" class="form-control"   ></RadzenTextBox>
</InterfaceEditorResource>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.StatisticalDataDetailsStatisticalPeriodTypeFieldLabel" IsRow="false" CssClass="col-md-6" For="StatisticalPeriodType" IsRequiredByDefaultBusinessRule="false">
    <RadzenTextBox id="StatisticalPeriodType" Name="DefaultValue"  MaxLength="100" class="form-control"   ></RadzenTextBox>
</InterfaceEditorResource>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.StatisticalDataDetailsStatisticalPeriodTypeFieldLabel" IsRow="false" CssClass="col-md-6" For="StatisticalPeriodType" IsRequiredByDefaultBusinessRule="false">
    <RadzenTextBox id="StatisticalPeriodType" Name="NationalValue"  MaxLength="100" class="form-control"   ></RadzenTextBox>
</InterfaceEditorResource>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.StatisticalDataDetailsStatisticalPeriodTypeFieldLabel" IsRow="false" CssClass="col-md-6" For="StatisticalPeriodType" IsRequiredByDefaultBusinessRule="false">
    <RadzenTextBox id="StatisticalPeriodType" Name="LowerBound"  MaxLength="100" class="form-control"   ></RadzenTextBox>
</InterfaceEditorResource>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.StatisticalDataDetailsStatisticalPeriodTypeFieldLabel" IsRow="false" CssClass="col-md-6" For="StatisticalPeriodType" IsRequiredByDefaultBusinessRule="false">
    <RadzenTextBox id="StatisticalPeriodType" Name="UpperBound"  MaxLength="100" class="form-control"   ></RadzenTextBox>
</InterfaceEditorResource>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.StatisticalDataDetailsStatisticalPeriodTypeFieldLabel" IsRow="false" CssClass="col-md-6" For="StatisticalPeriodType" IsRequiredByDefaultBusinessRule="false">
    <RadzenTextBox id="StatisticalPeriodType" Name="IntervalType"  MaxLength="100" class="form-control"   ></RadzenTextBox>
</InterfaceEditorResource>
</div>
</div>
<div class="form-row">
<div class="form-group col-md-6">
<InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.StatisticalDataDetailsStatisticalPeriodTypeFieldLabel" IsRow="false" CssClass="col-md-6" For="StatisticalPeriodType" IsRequiredByDefaultBusinessRule="false">
    <RadzenTextBox id="StatisticalPeriodType" Name="Order"  MaxLength="100" class="form-control"   ></RadzenTextBox>
</InterfaceEditorResource>
</div>
</div>
