@inherits EIDSS.Web.Components.Human.ActiveSurveillanceCampaign.ActiveSurveillanceSessionListBase
@using EIDSS.Domain.ResponseModels.Human;
@using EIDSS.Web.Components.CrossCutting

<div class="card">
    <div class="card-body">
        <div class="form-row justify-content-end mb-3">
            <div class="col-2">
@*                  <button class="btn btn-outline-primary" type="button" disabled="@(CampaignId != null)" @onclick=@OnSearchSessionClick>@Localizer.GetString(ButtonResourceKeyConstants.SearchButton)</button>*@  
                    <button id="searchSession" type="button" class="btn btn-outline-secondary" disabled="@(CampaignId == null  || @CampaignStatusId.Value == (long)CampaignStatusTypes.Closed)" @onclick="@OnSearchSessionClick"><i class="fas fa-search"></i></button>
                    <button class="btn btn-outline-primary" type="button" disabled="@(CampaignId == null || @CampaignStatusId.Value == (long)CampaignStatusTypes.Closed)" @onclick=@OnAddSessionClick>@Localizer.GetString(ButtonResourceKeyConstants.AddButton)</button>
            </div>
        </div>
         <GridExtension OnColumnSave="GridClickHandler"></GridExtension>
        <div class="row">
            <div class="col-12">
                <RadzenDataGrid HeaderCellRender=@((args) => HeaderCellRender(args.Column.Property)) AllowColumnReorder="true" AllowColumnPicking="true" @ref="HasCampaignSessionListGrid" id="searchSessionResults" TItem="ActiveSurveillanceSessionResponseModel" IsLoading="@isLoading" LoadData=@((args) => LoadData(args)) Data="@HasCampaignSessionList.Where(r=>r.CampaignKey!=null)"
                                AllowPaging="true" PageSize="10" AllowSorting="true" Count="@HasCampaignSessionListCount" AllowColumnResize="true"
                                Visible="true" >
                    <Columns>
                        <RadzenDataGridColumn TItem="ActiveSurveillanceSessionResponseModel" Property="SessionID" Title=@Localizer.GetString(ColumnHeadingResourceKeyConstants.HumanActiveSurveillanceCampaignSessionIDColumnHeading) Width="150px" Sortable="true">
                            <Template Context="data">
                                <button class="btn btn-link btn-sm" @onclick=@(() => SendReportLink(data.SessionKey))>@data.SessionID.ToString()</button>
                            </Template>
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn Reorderable="true" OrderIndex="@FindColumnOrder("AdministrativeLevel2Name")" Visible="@GetColumnVisibility("AdministrativeLevel2Name")"   TItem="ActiveSurveillanceSessionResponseModel" Property="AdministrativeLevel2Name" Title=@Localizer.GetString(ColumnHeadingResourceKeyConstants.HumanActiveSurveillanceCampaignSessionAdministrativeLevel1ColumnHeading) Sortable="true"  Width="125px"/>
                        <RadzenDataGridColumn Reorderable="true" OrderIndex="@FindColumnOrder("AdministrativeLevel3Name")" Visible="@GetColumnVisibility("AdministrativeLevel3Name")" TItem="ActiveSurveillanceSessionResponseModel" Property="AdministrativeLevel3Name" Title=@Localizer.GetString(ColumnHeadingResourceKeyConstants.HumanActiveSurveillanceCampaignSessionAdministrativeLevel2ColumnHeading) Sortable="true"  Width="125px"/>
                        <RadzenDataGridColumn Reorderable="true" OrderIndex="@FindColumnOrder("AdministrativeLevel4Name")" Visible="@GetColumnVisibility("AdministrativeLevel4Name")" TItem="ActiveSurveillanceSessionResponseModel" Property="AdministrativeLevel4Name" Title=@Localizer.GetString(ColumnHeadingResourceKeyConstants.HumanActiveSurveillanceCampaignSessionSettlementColumnHeading) Sortable="true"  Width="125px"/>
                        <RadzenDataGridColumn Reorderable="true" OrderIndex="@FindColumnOrder("StartDate")" Visible="@GetColumnVisibility("StartDate")" TItem="ActiveSurveillanceSessionResponseModel" Property="StartDate" Title=@Localizer.GetString(ColumnHeadingResourceKeyConstants.HumanActiveSurveillanceCampaignSessionStartDateColumnHeading) Width="175px" Sortable="true" />
                        <RadzenDataGridColumn Reorderable="true" OrderIndex="@FindColumnOrder("EndDate")" Visible="@GetColumnVisibility("EndDate")"TItem="ActiveSurveillanceSessionResponseModel" Property="EndDate" Title=@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryActiveSurveillanceCampaignSessionEndDateColumnHeading) Width="175px" Sortable="true" />

                        <RadzenDataGridColumn TItem="ActiveSurveillanceSessionResponseModel" Property="" Title="" Sortable="false" Filterable="false" Visible="@CheckPermissonForEditOrDelete()"  Width="75px">
                            <Template Context="data">
                                <button @onclick=@(() => OpenEdit(data.SessionKey)) class="btn btn-sm" type="button">
                                    <i class="fas fa-edit fa-lg"></i>
                                </button>
                            </Template>
                        </RadzenDataGridColumn>
                         <RadzenDataGridColumn TItem="ActiveSurveillanceSessionResponseModel" Property="" Title="" Sortable="false" Filterable="false" Visible="@CheckPermissonForEditOrDelete()" Width="75px" >
                            <Template Context="data">
                                <button @onclick=@(() => onDelete(data.SessionKey)) class="btn btn-sm" type="button">
                                    <i class="fas fa-trash fa-lg"></i>
                                </button>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </div>

        </div>
    </div>
  </div>

  @code{

    void GridClickHandler()
    {
       
       GridColumnSave("HasCampaignSessionListGrid");
    }

}

