@model EIDSS.Web.Areas.Reports.SubAreas.GG.ViewModels.RBEQuarterlySurveillanceSheetViewModel
@using EIDSS.ReportViewer
@{
    ViewBag.Title = Localizer.GetString(HeadingResourceKeyConstants.RabiesBulletinEuropeQuarterlySurveillanceSheetPageHeading);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 heading-for="@(HeadingResourceKeyConstants.RabiesBulletinEuropeQuarterlySurveillanceSheetPageHeading + "," + Model.LanguageId)"></h3>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="LanguageId" field-label-for="@(FieldLabelResourceKeyConstants.LanguageFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="LanguageId"
                                asp-items="@(new SelectList(Model.ReportLanguageModels, "LangID", "Language"))" class="form-control">
                        </select>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="Year" field-label-for="@(FieldLabelResourceKeyConstants.FromFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="Year"
                                asp-items="@(new SelectList(Model.ReportYearModels, "Year", "Year"))" class="form-control">
                        </select>
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="QuarterId" field-label-for="@(FieldLabelResourceKeyConstants.QuarterFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="QuarterId" style="width: 100%;" multiple
                                asp-items="@(new SelectList(Model.QuarterList, "ID", "TextValue"))" class="form-control">
                            <option value="0"></option>
                        </select>
                        <span asp-validation-for="QuarterId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right">
                    <button type="submit" id="submitReport" class="btn btn-primary" button-for="@(ButtonResourceKeyConstants.GenerateReportButton + "," + Model.LanguageId)"></button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <div class="input-group">
                        <label asp-for="RegionId" field-label-for="@(FieldLabelResourceKeyConstants.RegionFieldLabel + "," + Model.LanguageId)"></label>
                        <div class="input-group">
                            <select asp-for="RegionId" style="width: 100%;" multiple
                                    asp-items="@(new SelectList(Model.GisRegionList, "idfsReference", "Name"))" class="form-control">
                                <option value="0"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <label asp-for="RayonId" field-label-for="@(FieldLabelResourceKeyConstants.RayonFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="RayonId" style="width: 100%;" multiple
                                asp-items="@(new SelectList(Model.GisRayonList, "idfsReference", "Name"))" class="form-control">
                            <option value="0"></option>
                        </select>
                    </div>
                </div>
            </div>

                <div class="form-row">
                    <div class="form-group col-md-2 form-check form-check-inline" style="@(Model.ShowIncludeSignature ? "display:block;" : "display:none;")">
                        <input asp-for="IncludeSignature" class="form-check-input" type="checkbox" />
                        <label asp-for="IncludeSignature" class="form-check-label" field-label-for="@(FieldLabelResourceKeyConstants.IncludeSignatureFieldLabel + "," + Model.LanguageId)"></label>
                    </div>
                    <div class="form-group col-md-4 form-check form-check-inline" style="@(Model.ShowUseArchiveData ? "display:block;" : "display:none;")">
                        <input asp-for="UseArchiveData" class="form-check-input" type="checkbox" />
                        <label asp-for="UseArchiveData" class="form-check-label" field-label-for="@(FieldLabelResourceKeyConstants.UseArchivedDataFieldLabel + "," + Model.LanguageId)"></label>
                    </div>
                </div>
</form>
        <div class="col-xs-4 col-xs-offset-4" id="divLoading"></div>
        <div id="ReportView"></div>
    </div>
</div>
@section runreport {
    <script type="text/javascript">

        function submitReport() {
                $("#ReportView").html("");
                onBegin();
                $.ajax({
                    url: '@Url.Action("GenerateReport", "RBEQuarterlySurveillanceSheet", new { Area = "Reports", SubArea = "GG" })',//controller name and action
                    type: 'POST',
                    contentType :'application/json; charset=utf-8',
                    data: JSON.stringify(getFormData())  //information for search
                })
                .done(function (result) {
                    $('#ReportView').html(result); //write returned partial view to empty div
                    onComplete();
                })
            };

           function onBegin() {
                $("#divLoading").html('<image  src="@Url.Content("~/Includes/Images/ajax-loader.gif")"  alt="Loading, please wait" />');
           };

           function onComplete() {
                var jsonData = {
                    "strReportName":'@Model.ReportName',
                    "idfIsSignatureIncluded": $("#IncludeSignature").is(':checked') ? 'true' : 'false'
                };
                //Save ReportAudit
                 $.ajax({
                    url: '@Url.Action("SaveReportAudit", "RBEQuarterlySurveillanceSheet", new { Area = "Reports", SubArea = "GG" })',//controller name and action
                    type: 'POST',
                    contentType :'application/json; charset=utf-8',
                    data: JSON.stringify(jsonData)  //information for search
                })
                .done(function (result) {
                    $("#divLoading").html("");
                })
        };

            function getFormData() {
                var jsonData = {
                    "idfsReference_FromMonth": $("#idfsReference_FromMonth").val(),
                    "LanguageId": $("#LanguageId").val(),
                    "Year": $("#Year").val(),
                    "RegionId": $("#RegionId").val(),
                    "RayonId": $("#RayonId").val(),
                    "quarterId": $("#QuarterId").val(),
                    "useArchiveData": $("#UseArchiveData").is(':checked') ? 'true' : 'false',
                    "IncludeSignature": $("#IncludeSignature").is(':checked') ? 'true' : 'false',
                    "PrintDateTime": localDate()
                };

                return jsonData;
            };


        $(document).ready(function () {
            $('#QuarterId').select2MultiCheckboxes({
                placeholder: "Choose multiple elements",
                width: "100%"
            });

            $('#RegionId').select2MultiCheckboxes({
                placeholder: "Choose multiple elements",
                width: "100%"
            });

            $('#RayonId').select2MultiCheckboxes({
                placeholder: "Choose multiple elements",
                width: "100%"
            });

            //To clear dropdown texts
            $("#btnRayon").click(function () {
                $("#RayonId").val("0").change();
            });

            var ClearMonths = function () {
                $("#idfsReference_ToMonth").val("0").change();
            };
            $("#btnToMonth").on("click", ClearMonths);

            var ClearRegion = function () {
                $("#RegionId").val("0").change();
                $("#RayonId").val("0").change();
            };
            $("#btnRegion").on("click", ClearRegion);

            $("#RegionId").on("change", function () {
                RefreshRayon()
            });

            $("#Year").on("change", function () {
                RefreshQuarterList()
            });
            
        });

        function RefreshRayon() {
            var nodeValue = $("#RegionId").val();
            var langId = $("#LanguageId").val();
            var selectedRayonId = $("#RayonId").val();
            $.ajax({
                url: '@Url.Action("GetRayonList", "RBEQuarterlySurveillanceSheet", new { Area = "Reports", SubArea = "GG" })' + "?node=" + nodeValue.join(',') + "&langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#RayonId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, rayon) {
                        items += "<option value='" + rayon.idfsReference + "' > " + rayon.name + "</option > ";
                    });
                    $('#RayonId').html(items);
                    $("#RayonId").val(selectedRayonId);
                });
        };

        function RefreshQuarterList() {
            var langId = $("#LanguageId").val();
            var year = $("#Year").val();
            var selectedQuarter = $('#QuarterId').val();
            $.ajax({
                url: '@Url.Action("GetQuarterList", "RBEQuarterlySurveillanceSheet", new { Area = "Reports", SubArea = "GG" })' + "?langId=" + langId + "&year=" + year,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#QuarterId').empty();
                    var items = '';
                    $.each(data, function (i, quarter) {
                        items += "<option value='" + quarter.id + "' > " + quarter.textValue + "</option > ";
                    });
                    $('#QuarterId').html(items);
                    $('#QuarterId').val(selectedQuarter);
                });
        };
    </script>

    <partial name="_ValidationScriptsPartial" />

    @if (@Model.JavascriptToRun != null)
    {
        <script type="text/javascript">
            @Html.Raw(@Model.JavascriptToRun)
        </script>
    }
}