@model EIDSS.Web.ViewModels.BaseReferenceEditorPagesViewModel;
@using EIDSS.Web.TagHelpers.Models.EIDSSModal;
@using Microsoft.AspNetCore.Mvc.Razor.TagHelpers;
@using EIDSS.Web.TagHelpers.Models.EIDSSGrid;

<script type="text/javascript">
    function ShowHideFields() {
        if ($("#ReferenceTypeDD").val() != undefined) { 
            if ($("#hLOINCSystemTypesToHide").val() != undefined) {
                if($("#hLOINCSystemTypesToHide").val().includes($("#ReferenceTypeDD").val())) {
                    $("#div2_AddBaseReference").hide();
                }
                else{
                    $("#div2_AddBaseReference").show();
                }    
            }
            
            if ($("#hHACodeSystemTypesToHide").val() != undefined) {
                if($("#hHACodeSystemTypesToHide").val().includes($("#ReferenceTypeDD").val())) {
                    $("#div4_AddBaseReference").hide();
                }
                else{
                    $("#div4_AddBaseReference").show();
                }    
            }
        }
    }
</script>

<div class="card">
    <div class="card-header">
        @*card header always an h3!*@
        <h3>@Model.PageName</h3>
    </div>
    <div class="card-body">
        <div class="row align-items-end pb-2">
            <div class="col-auto flex-nowrap">
                @*add button*@
                @if (@Model.UserPermissions != null)
                {
                    @if (@Model.UserPermissions.Create)
                    {
                        <button type="button" id="@Model.PageLevelAddButtonID" class="btn btn-primary mt-3" data-toggle='modal'  data-backdrop='static' data-keyboard='false' data-target='#@Model.PageLevelAddButtonModal' onclick="ShowHideFields();">@Model.PageLevelAddButtonModalText</button>
                    }
                    else
                    {

                    }
                }
            </div>
            <div class="col-6 flex-nowrap">
                @*select2 drop down*@
                @Model.baseReferenceListViewModel
                @{
                    if (@Model.Select2Configurations != null)
                    {
                        if (@Model.Select2Configurations.Count() > 0)
                        {
                            for (int i = 0; i < @Model.Select2Configurations.Count(); i++)
                            {
                                                            <div class="@string.Concat("dvselect2_", @Model.Select2Configurations[i].DropDownId)">
                                                                <eidss-select2DropDown id="@Model.Select2Configurations[i].DropDownId"
                                                           control-target-id="@Model.Select2Configurations[i].ControltargetId"
                                                           target-type="@Model.Select2Configurations[i].ControlTargetType"
                                                           target-ajax-url="@Model.Select2Configurations[i].ControlTargetUrl"
                                                           selectct2-default-data="@Model.Select2Configurations[i].defaultSelect2Selection"
                                                           end-point="@Model.Select2Configurations[i].Endpoint"
                                                           label-name="@Model.Select2Configurations[i].Label"
                                                           is-visible="@Model.Select2Configurations[i].isVisible"
                                                           include-add-button="@Model.Select2Configurations[i].IncludeAddButton"
                                                           add-modal-id="@Model.Select2Configurations[i].AddModalId"
                                                           custom-js-on-change-function="@Model.Select2Configurations[i].CustomJsOnChangeFunction"
                                                           custom-js-on-clear-function="@Model.Select2Configurations[i].CustomJsOnClearFunction"
                                                           disabled-controls="@Model.Select2Configurations[i].DisabledControls"
                                                           filter-id="@Model.Select2Configurations[i].FilteredId">
                                                                </eidss-select2DropDown>
                                                            </div>
                            }
                        }
                    }

                }
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <eidss-grid id="@Model.eidssGridConfiguration.GridId"
                            grid-configuration="@Model.eidssGridConfiguration"
                            filtered-control-ids="@Model.eidssGridConfiguration.ControlFilterID"
                            enable-server-side="@Model.eidssGridConfiguration.EnableServerSide"
                            enable-processing="@Model.eidssGridConfiguration.EnableProcessingMessage"
                            enable-search="@Model.eidssGridConfiguration.EnableSearching"
                            end-point="@Model.eidssGridConfiguration.AjaxDataUrl"
                            class-name="@Model.eidssGridConfiguration.GridClass"
                            details-ajax-url="@Url.Action("EditModalData", "BaseReferencePage", new { Area = "Administration" })"
                            enable-top-header-search-button="@Model.eidssGridConfiguration.EnableCustomSearching"
                            control-labels="@Model.eidssGridConfiguration.ControlLabels"
                            controls-that-refresh-the-grid="@Model.eidssGridConfiguration.ControlIdThatRefreshGrid" >
                </eidss-grid>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
@{
    for (int i = 0; i < @Model.eIDSSModalConfiguration.Count(); i++)
    {
    <eidss-reference-editors-modal control-labels="@Model.eIDSSModalConfiguration[i].ControlLabels" ajax-save-url="@Model.eIDSSModalConfiguration[i].PostAjaxDataUrl" modal-configuration="@Model.eIDSSModalConfiguration[i]" modal-id="@Model.eIDSSModalConfiguration[i].ModalId"></eidss-reference-editors-modal>
    }
}
