@model EIDSS.Web.ViewModels.Human.DiseaseReportPersonalInformationPageViewModel;
@using EIDSS.Web.TagHelpers.Models.EIDSSModal;
@using Microsoft.AspNetCore.Mvc.Razor.TagHelpers;
@using EIDSS.Web.TagHelpers.Models.EIDSSGrid;

@{
    var defaultReference = new Select2DataItem();

    if (Model.PersonInfo.PersonalIDType != null && Model.PersonInfo.PersonalIDTypeName != null && Model.PersonInfo.PersonalIDTypeName != "")
        defaultReference = new Select2DataItem() { id = Model.PersonInfo.PersonalIDType.ToString(), text = Model.PersonInfo.PersonalIDTypeName };

    Model.PersonalIdTypeDD.DropDownId = "PersonalIdTypeDD";
    Model.PersonalIdTypeDD.ControlTargetType = DropDownTargetTypes.DropDown;
    Model.PersonalIdTypeDD.Label = Localizer.GetString(FieldLabelResourceKeyConstants.PersonalIDTypeFieldLabel);
    Model.PersonalIdTypeDD.Endpoint = @Url.Action("BaseReferenceByReferenceTypeIDListForSelect2DropDown", "CrossCutting", new { Area = "CrossCutting", referenceTypeID = 19000148 });
    Model.PersonalIdTypeDD.isVisible = true;
    Model.PersonalIdTypeDD.defaultSelect2Selection = defaultReference;
}

<form id="PersonalInfoForm">
    <div class="card">
        <div class="card-header"><h4 heading-for="@HeadingResourceKeyConstants.HumanDiseaseReportPersonInformationHeading"></h4></div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.PersonInfo.EIDSSPersonID" field-label-for="@FieldLabelResourceKeyConstants.HumanDiseaseReportSummaryPersonIDFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.EIDSSPersonID" class="form-control" disabled value="@Model.PersonInfo.EIDSSPersonID">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6">
                    <eidss-select2DropDown id="@Model.PersonalIdTypeDD.DropDownId"
                                           name="@Model.PersonalIdTypeDD.DropDownId"
                                           control-target-id="@Model.PersonalIdTypeDD.ControltargetId"
                                           target-type="@Model.PersonalIdTypeDD.ControlTargetType"
                                           target-ajax-url="@Model.PersonalIdTypeDD.ControlTargetUrl"
                                           selectct2-default-data="@Model.PersonalIdTypeDD.defaultSelect2Selection"
                                           end-point="@Model.PersonalIdTypeDD.Endpoint"
                                           label-name="@Model.PersonalIdTypeDD.Label"
                                           is-visible="@Model.PersonalIdTypeDD.isVisible"
                                           is-disabled="@Model.PersonalIdTypeDD.isVisible"
                                           class-name="form-control">
                    </eidss-select2DropDown>
                </div>
                <div>
                    <label asp-for="@Model.PersonInfo.PersonalID" field-label-for="@FieldLabelResourceKeyConstants.PersonalIDFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.PersonalID" class="form-control" disabled value="@Model.PersonInfo.PersonalID">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label asp-for="@Model.PersonInfo.LastOrSurname" field-label-for="@FieldLabelResourceKeyConstants.SearchHumanDiseaseReportsLastNameFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.LastOrSurname" class="form-control" disabled value="@Model.PersonInfo.LastOrSurname" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="@Model.PersonInfo.SecondName" field-label-for="@FieldLabelResourceKeyConstants.SearchHumanDiseaseReportsMiddleNameFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.SecondName " class="form-control" disabled value="@Model.PersonInfo.SecondName" />
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="@Model.PersonInfo.FirstOrGivenName" field-label-for="@FieldLabelResourceKeyConstants.SearchHumanDiseaseReportsFirstNameFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.FirstOrGivenName" class="form-control" disabled value="@Model.PersonInfo.FirstOrGivenName" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="PersonInfo.DateOfBirth" field-label-for="@FieldLabelResourceKeyConstants.PersonInformationDateOfBirthFieldLabel"></label>
                    <eidss-calendar id="PersonInfo.DateOfBirth" name="PersonInfo.DateOfBirth" asp-for="PersonInfo.DateOfBirth" SearchFilter="true" disabled value="PersonInfo.DateOfBirth"></eidss-calendar>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.PersonInfo.Age" field-label-for="@FieldLabelResourceKeyConstants.PersonInformationAgeFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.Age" class="form-control" disabled value="@Model.PersonInfo.Age" />
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.PersonInfo.GenderTypeName" field-label-for="@FieldLabelResourceKeyConstants.PersonInformationGenderFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.GenderTypeName" class="form-control" disabled value="@Model.PersonInfo.GenderTypeName" />
                    <input type="hidden" value="@Model.PersonInfo.GenderTypeID" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.PersonInfo.CitizenshipTypeName" field-label-for="@FieldLabelResourceKeyConstants.PersonInformationCitizenshipFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.CitizenshipTypeName " class="form-control" disabled value="@Model.PersonInfo.CitizenshipTypeName" />
                    <input type="hidden" value="@Model.PersonInfo.CitizenshipTypeID" />
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.PersonInfo.PassportNumber" field-label-for="@FieldLabelResourceKeyConstants.PersonInformationPassportNumberFieldLabel" class="control-label"></label>
                    <input asp-for="@Model.PersonInfo.PassportNumber" class="form-control" disabled value="@Model.PersonInfo.PassportNumber" />
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header"><h3 heading-for="@HeadingResourceKeyConstants.PersonAddressCurrentAddressHeading"></h3></div>
        <div id="divCurrentAddress">
            @await Component.InvokeAsync("LocationView", Model.CurrentAddress)
        </div>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />

