
@model EIDSS.Web.ViewModels.Human.DiseaseReportFacilityDetailsPageViewModel;
@using EIDSS.Web.TagHelpers.Models.EIDSSModal;
@using Microsoft.AspNetCore.Mvc.Razor.TagHelpers;
@using EIDSS.Web.TagHelpers.Models.EIDSSGrid;


@{

    //Facility Drop Down
    Model.FacilitySelect.DropDownId = "FacilitySelect";
    Model.FacilitySelect.Label = Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsFacilityPatientFirstSoughtCareFieldLabel);
    Model.FacilitySelect.Endpoint = @Url.Action("GetOrganizationsForLookup", "CrossCutting", new { Area = "CrossCutting", organizationSiteAssociation = (int)OrganizationSiteAssociations.OrganizationsWithOrWithoutSite, accessoryCode = EIDSSConstants.HACodeList.HumanHACode });
    Model.FacilitySelect.ControlTargetType = DropDownTargetTypes.DropDown;
    Model.FacilitySelect.isVisible = true;


    //Diagnosis Drop Down
    Model.DiagnosisSelect.DropDownId = "DiagnosisSelect";
    Model.DiagnosisSelect.Label = Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsNonNotifiableDiagnosisFromFacilityWherePatientFirstSoughtCareFieldLabel);
    Model.DiagnosisSelect.Endpoint = @Url.Action("BaseReferenceByReferenceTypeIDListForSelect2DropDownWithSorting", "CrossCutting", new { Area = "CrossCutting", referenceTypeID = (long)ReferenceTypes.NonNotifiableDiagnosis, sortColumn = "intOrder" });
    Model.DiagnosisSelect.ControlTargetType = DropDownTargetTypes.DropDown;
    Model.DiagnosisSelect.isVisible = true;
    Model.DiagnosisSelect.IncludeAddButton = true;
    Model.DiagnosisSelect.AddButtonId = "btnAddDiagnosis";

    //Hospital Drop Down
    Model.HospitalSelect.DropDownId = "HospitalSelect";
    Model.HospitalSelect.Label = Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsHospitalNameFieldLabel);
    Model.HospitalSelect.Endpoint = @Url.Action("GetOrganizationsForLookup", "CrossCutting", new { Area = "CrossCutting", organizationSiteAssociation = (int)OrganizationSiteAssociations.OrganizationsWithOrWithoutSite, organizationTypeID = (long)OrganizationTypes.Hospital });
    //Model.HospitalSelect.Endpoint = @Url.Action("GetOrganizationsAdvancedListByOrganizationType", "CrossCutting", new { Area = "CrossCutting", organizationTypeId = (int)OrganizationTypes.Hospital });
    Model.HospitalSelect.ControlTargetType = DropDownTargetTypes.DropDown;
    Model.HospitalSelect.isVisible = true;


}

<form id="FacilityDetailsForm">
    <div class="card">
        <div class="card-header">
            <h4>@Localizer.GetString(HeadingResourceKeyConstants.HumanDiseaseReportClinicalInformationFacilityDetailsHeading)</h4>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <!--Did patient previously seek care?-->
                    <label>@Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsPatientPreviouslySoughtCareForSimilarSymptomsFieldLabel)</label>
                    @for (int i = 0; i <= Model.YesNoChoices.Count() - 1; i++)
                    {
                        <div class="form-check form-check-inline ">
                            <input class="form-check-input" asp-for="PatientPreviouslySoughtCare" type="radio" value="@Model.YesNoChoices[i].IdfsBaseReference" disabled="@Model.IsReportClosed" />
                            <label class="form-check-label" asp-for="PatientPreviouslySoughtCare">@Model.YesNoChoices[i].Name</label>
                        </div>
                    }
                </div>
            </div>
            <div class="collapse show" id="facilityReveal">
                <div class="form-row">
                    <div class="col-md-6">
                        <!--Date Patient Sought Care-->
                        <label asp-for="SoughtCareFirstDate">@Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsDatePatientFirstSoughtCareFieldLabel)</label>
                        <eidss-calendar asp-for="SoughtCareFirstDate" id="FacilityDetailsSection_SoughtCareFirstDate" name="FacilityDetailsSection.SoughtCareFirstDate" css-class="form-control" date-format="d" shortdate=true disabled="@Model.IsReportClosed"/>
                        <span asp-validation-for="SoughtCareFirstDate" class="text-danger" />
                    </div>
                    <div class="form-group col-md-6">
                        <!--Facility where Care was Sought Drop Down-->
                        <eidss-select2DropDown id="@Model.FacilitySelect.DropDownId"
                                               control-target-id="@Model.FacilitySelect.ControltargetId"
                                               target-type="@Model.FacilitySelect.ControlTargetType"
                                               target-ajax-url="@Model.FacilitySelect.ControlTargetUrl"
                                               selectct2-default-data="@Model.FacilitySelect.defaultSelect2Selection"
                                               end-point="@Model.FacilitySelect.Endpoint"
                                               label-name="@Model.FacilitySelect.Label"
                                               is-visible="@Model.FacilitySelect.isVisible"
                                               is-disabled="@Model.IsReportClosed">
                        </eidss-select2DropDown>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <!--Non-Notifiable Diagnosis Drop Down-->
                        <eidss-select2DropDown id="@Model.DiagnosisSelect.DropDownId"
                                               control-target-id="@Model.DiagnosisSelect.ControltargetId"
                                               target-type="@Model.DiagnosisSelect.ControlTargetType"
                                               target-ajax-url="@Model.DiagnosisSelect.ControlTargetUrl"
                                               selectct2-default-data="@Model.DiagnosisSelect.defaultSelect2Selection"
                                               end-point="@Model.DiagnosisSelect.Endpoint"
                                               label-name="@Model.DiagnosisSelect.Label"
                                               is-visible="@Model.DiagnosisSelect.isVisible"
                                               is-disabled="@Model.IsReportClosed"
                                               >
                        </eidss-select2DropDown>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <!--Was patient hospitalized?-->
                    <label>@Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsHospitalizationFieldLabel)</label>
                    @for (int i = 0; i <= Model.YesNoChoices.Count() - 1; i++)
                    {
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" asp-for="@Model.Hospitalized" value="@Model.YesNoChoices[i].IdfsBaseReference" disabled="@Model.IsReportClosed" />
                            <label class="form-check-label" asp-for="@Model.Hospitalized">@Model.YesNoChoices[i].Name</label>
                        </div>
                    }
                </div>
            </div>
            <div class="collapse show" id="hospitalReveal">
                <div class="form-row">
                    <div class="col-md-6">
                        <!--Date of Hospitalization-->
                        <label asp-for="HospitalizationDate">@Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsDateOfHospitalizationFieldLabel)</label>
                        <eidss-calendar asp-for="HospitalizationDate" id="FacilityDetailsSection_HospitalizationDate" name="FacilityDetailsSection.HospitalizationDate" css-class="form-control" date-format="d" shortdate=true disabled="@Model.IsReportClosed" dates-ids-to_validate="SymptomsSection_SymptomsOnsetDate,FacilityDetailsSection_DateOfDischarge"></eidss-calendar>
                        <span asp-validation-for="HospitalizationDate" class="text-danger" />
                    </div>
                    <div class="form-group col-md-6">
                        <!--Date of Discharge-->
                        <label asp-for="DateOfDischarge">@Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsDateOfDischargeFieldLabel)</label>
                        <eidss-calendar asp-for="DateOfDischarge" id="FacilityDetailsSection_DateOfDischarge" name="FacilityDetailsSection.DateOfDischarge" css-class="form-control" date-format="d" shortdate=true disabled="@Model.IsReportClosed" dates-ids-to_validate="FacilityDetailsSection_HospitalizationDate"></eidss-calendar>
                        <span asp-validation-for="DateOfDischarge" class="text-danger" />
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <!--Hospital Name Drop Down-->
                        <eidss-select2DropDown id="@Model.HospitalSelect.DropDownId"
                                               control-target-id="@Model.HospitalSelect.ControltargetId"
                                               target-type="@Model.HospitalSelect.ControlTargetType"
                                               target-ajax-url="@Model.HospitalSelect.ControlTargetUrl"
                                               selectct2-default-data="@Model.HospitalSelect.defaultSelect2Selection"
                                               end-point="@Model.HospitalSelect.Endpoint"
                                               label-name="@Model.HospitalSelect.Label"
                                               is-visible="@Model.HospitalSelect.isVisible"
                                               is-disabled="@Model.IsReportClosed">
                        </eidss-select2DropDown>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    $(document).ready(function() {

        // wire change events for sought care radio buttons
        $("input[type='radio'][name='FacilityDetailsSection.PatientPreviouslySoughtCare']").on('change', toggleFacilityReveal);

        // wire change events for hospitalized radio buttons
        $("input[type='radio'][name='FacilityDetailsSection.Hospitalized']").on('change', toggleHospitalReveal);

        // disable diagnosis add button unless user has permission
        if ('@Model.BaseReferencePermissions.Create')
        {
            $("#btnAddDiagnosis").attr("disabled", false);
        }
        else
        {
            $("#btnAddDiagnosis").attr("disabled", true);
        }

        //set the initial state
        toggleFacilityAtLoad();
        toggleHospitalAtLoad();

    });

    function toggleFacilityAtLoad() {

        var soughtCare=$('input:radio[name="FacilityDetailsSection.PatientPreviouslySoughtCare"]:checked').val();


         var yesValue = '@EIDSSConstants.YesNoValueList.Yes';
         if (soughtCare == yesValue) {
            $("#facilityReveal").collapse('show');
        }
        else {
            $("#facilityReveal").collapse('hide');
        }
    }

    function toggleFacilityReveal() {
         var yesValue = '@EIDSSConstants.YesNoValueList.Yes';
        if ($(this).val() == yesValue) {
            $("#facilityReveal").collapse('show');
        }
        else {
            $("#facilityReveal").collapse('hide');
        }
    }

    function toggleHospitalReveal() {

        var yesValue = '@EIDSSConstants.YesNoValueList.Yes';
        if ($(this).val() == yesValue) {
            $("#hospitalReveal").collapse('show');
        }
        else {
            $("#hospitalReveal").collapse('hide');
        }
    }
    function toggleHospitalAtLoad() {

        var hospitalized = $('input:radio[name="FacilityDetailsSection.Hospitalized"]:checked').val();


         var yesValue = '@EIDSSConstants.YesNoValueList.Yes';
        if (hospitalized == yesValue) {
             $("#hospitalReveal").collapse('show');
        }
        else {
             $("#hospitalReveal").collapse('hide');
        }
    }
</script>

<partial name="_ValidationScriptsPartial" />

