@model EIDSS.Web.Areas.Reports.SubAreas.AJ.ViewModels.SummaryVeterinaryViewModel
@using EIDSS.ReportViewer
@{
    ViewBag.Title = Localizer.GetString(HeadingResourceKeyConstants.SummaryVeterinaryReportPageHeading);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        <h3 heading-for="@(HeadingResourceKeyConstants.SummaryVeterinaryReportPageHeading + "," + Model.LanguageId)"></h3>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="LanguageId" field-label-for="@(FieldLabelResourceKeyConstants.LanguageFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="LanguageId"
                                asp-items="@(new SelectList(Model.ReportLanguageModels, "LangID", "Language"))" class="form-control">
                        </select>
                        <input type="hidden" asp-for="PriorLanguageId" />
                    </div>
                </div>
                @{
                    var maxDate = DateTime.Now.ToString("MM/dd/yyyy");
                }
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="StartIssueDate" field-label-for="@(FieldLabelResourceKeyConstants.StartIssueDateFieldLabel + "," + Model.LanguageId)"></label>
                    <eidss-calendar id="StartIssueDate" name="StartIssueDate" asp-for="StartIssueDate" class="form-control" min-date="01/01/2000" max-date=@maxDate ></eidss-calendar>
                    <span asp-validation-for="StartIssueDate" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="EndIssueDate" field-label-for="@(FieldLabelResourceKeyConstants.EndIssueDateFieldLabel + "," + Model.LanguageId)"></label>
                    <eidss-calendar id="EndIssueDate" name="EndIssueDate" asp-for="EndIssueDate" class="form-control" min-date="01/01/2000" max-date=@maxDate ></eidss-calendar>
                    <span asp-validation-for="EndIssueDate" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right">
                    <button type="submit" id="submitReport" class="btn btn-primary" button-for="@(ButtonResourceKeyConstants.GenerateReportButton + "," + Model.LanguageId)"></button>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-6 col-md-6 col-sm-8 col-xs-8 radio">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="SurveillanceTypeId" field-label-for="@(FieldLabelResourceKeyConstants.SurveillanceTypeFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        @foreach (var item in Model.VetSummarySurveillanceTypes)
                        {
                            @if (@item.idfsSurveillance == 1)
                            {
                                <input asp-for="SurveillanceTypeId" type="radio" value="@item.idfsSurveillance" checked onchange="changeVetSummarySurveillanceType(this)" />@item.StrName
                            }
                            else
                            {
                                <input asp-for="SurveillanceTypeId" type="radio" value="@item.idfsSurveillance" onchange="changeVetSummarySurveillanceType(this)" />@item.StrName
                            }
                        }
                        <span asp-validation-for="SurveillanceTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-6 col-md-6 col-sm-8 col-xs-8">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="NameOfInvestigationOrMeasureId" field-label-for="@(FieldLabelResourceKeyConstants.NameOfInvestigationMeasureFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group" style="width: 80%;">
                        @if (Model.SurveillanceTypeId == "3")
                        {
                            <select asp-for="NameOfInvestigationOrMeasureId"
                                    asp-items="@(new SelectList(Model.NameOfInvestigationOrMeasureList, "idfsReference", "strName"))" class="form-control">
                                <option value="0"></option>
                            </select>
                        }
                        else
                        {
                            <select asp-for="NameOfInvestigationOrMeasureId" disabled
                                    asp-items="@(new SelectList(Model.NameOfInvestigationOrMeasureList, "idfsReference", "strName"))" class="form-control">
                                <option></option>
                            </select>
                        }
                        <span asp-validation-for="NameOfInvestigationOrMeasureId" class="text-danger"></span>
                    </div>
                </div>
            </div>          
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="DiagnosisId" field-label-for="@(FieldLabelResourceKeyConstants.DiagnosisFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="DiagnosisId" style="width: 150px;"
                                asp-items="@(new SelectList(Model.DiagnosisList, "IdfsBaseReference", "Name"))" class="form-control">
                            <option></option>
                        </select>
                        <span class="input-group-append">
                            <button type="button" id="btnDiagnosis" class="btn btn-outline-secondary btn-sm border-left-0 border"><i class="fa fa-times fa-sm"></i></button>
                        </span>
                        <span asp-validation-for="DiagnosisId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="SpeciesTypeId" field-label-for="@(FieldLabelResourceKeyConstants.ReportsSpeciesTypeFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="SpeciesTypeId" multiple
                                asp-items="@(new SelectList(Model.SpeciesTypeList, "idfsReference", "name"))" class="form-control">
                            <option></option>
                        </select>
                        <span asp-validation-for="SpeciesTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-md-2 form-check form-check-inline" style="@(Model.ShowIncludeSignature ? "display:block;" : "display:none;")padding-top: 25px;">
                    <input asp-for="IncludeSignature" class="form-check-input" type="checkbox" />
                    <label asp-for="IncludeSignature" class="form-check-label" field-label-for="@(FieldLabelResourceKeyConstants.IncludeSignatureFieldLabel + "," + Model.LanguageId)"></label>
                </div>
                <div class="form-group col-md-4 form-check form-check-inline" style="@(Model.ShowUseArchiveData ? "display:block;" : "display:none;")padding-top: 25px;">
                    <input asp-for="UseArchiveData" class="form-check-input" type="checkbox" />
                    <label asp-for="UseArchiveData" class="form-check-label" field-label-for="@(FieldLabelResourceKeyConstants.UseArchivedDataFieldLabel + "," + Model.LanguageId)"></label>
                </div>
            </div>
        </form>
        <div class="col-xs-4 col-xs-offset-4" id="divLoading"></div>
        <div id="ReportView"></div>
    </div>
</div>
@section runreport {
    <script type="text/javascript">

        function submitReport() {
                $("#ReportView").html("");
                onBegin();
                $.ajax({
                    url: '@Url.Action("GenerateReport", "SummaryVeterinary", new { Area = "Reports", SubArea = "AJ" })',//controller name and action
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(getFormData())  //information for search
                })
                    .done(function (result) {
                        $('#ReportView').html(result); //write returned partial view to empty div
                        onComplete();
                    })
            };

            function onBegin() {
                $("#divLoading").html('<image  src="@Url.Content("~/Includes/Images/ajax-loader.gif")"  alt="Loading, please wait" />');
            };

            function onComplete() {
                var jsonData = {
                    "strReportName": '@Model.ReportName',
                    "idfIsSignatureIncluded": $("#IncludeSignature").is(':checked') ? 'true' : 'false',
                    "PrintDateTime": localDate()
                };
                //Save ReportAudit
                $.ajax({
                    url: '@Url.Action("SaveReportAudit", "SummaryVeterinary", new { Area = "Reports", SubArea = "AJ" })',//controller name and action
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(jsonData)  //information for search
                })
                    .done(function (result) {
                        $("#divLoading").html("");
                        $('#SpeciesTypeId').select2MultiCheckboxes('remove');
                        $('#SpeciesTypeId').select2MultiCheckboxes({
                            placeholder: "Choose multiple elements",
                            width: "100%"
                        })
                    })
            };

            function getFormData() {
                var jsonData = {
                    "idfsReference_FromMonth": $("#idfsReference_FromMonth").val(),
                    "LanguageId": $("#LanguageId").val(),
                    "PriorLanguageId": $("#PriorLanguageId").val(),
                    "StartIssueDate": $("#StartIssueDate").val(),
                    "EndIssueDate": $("#EndIssueDate").val(),
                    "SurveillanceTypeId": $("#SurveillanceTypeId").val(),
                    "NameOfInvestigationOrMeasureId": $("#NameOfInvestigationOrMeasureId").val(),
                    "DiagnosisId": $("#DiagnosisId").val(),
                    "SpeciesTypeId": $("#SpeciesTypeId").val(),
                    "ArrangeRayonsAlphabetically": $("#ArrangeRayonsAlphabetically").is(':checked') ? 'true' : 'false',
                    "UseArchiveData": $("#UseArchiveData").is(':checked') ? 'true' : 'false',
                    "IncludeSignature": $("#IncludeSignature").is(':checked') ? 'true' : 'false'
                };

                return jsonData;
            };

        $(document).ready(function () {
            $('#SpeciesTypeId').select2MultiCheckboxes({
                placeholder: "Choose multiple elements",
                width: "100%"
            });

            //To clear dropdown texts
            $('#btnRayon').on('click', function () {
                $('#RayonId').val('0').change();
            });
            $('#btnDiagnosis').on('click', function () {
                $('#DiagnosisId').val('0').change();
            });

            var ClearMonths = function () {
                $('#idfsReference_FromMonth').val('0').change();
                $('#idfsReference_ToMonth').val('0').change();
            };
            $('#btnFromMonth').on('click', ClearMonths)
            $('#btnToMonth').on('click', ClearMonths)

            $("#DiagnosisId").on("change", function () {
                RefreshSpeciesTypes()
            });
        });

        function RefreshFromMonths(monthId) {
            var langId = $("#LanguageId").val();
            var selectedMonth = $(monthId).val();

            $.ajax({
                url: '@Url.Action("GetMonthNameList", "SummaryVeterinary", new { Area = "Reports", SubArea = "AJ" })' +"?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $(monthId).empty();
                    var items = '<option></option>';
                    $.each(data, function (i, monthNames) {
                        items += "<option value='" + monthNames.intOrder + "'>" + monthNames.strTextString + "</option>";
                    });
                    $(monthId).html(items)
                    $(monthId).val(selectedMonth);
                });
        };

        function RefreshNameOfInvestigationOrMeasure(monthId) {
            var langId = $("#LanguageId").val();
            var selectedNameOfInvestigationOrMeasure = $(monthId).val();

            $.ajax({
                url: '@Url.Action("GetVetNameOfInvestigationOrMeasure", "SummaryVeterinary", new { Area = "Reports", SubArea = "AJ" })' +"?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $(monthId).empty();
                    var items = '<option></option>';
                    $.each(data, function (i, nameOfInvestigationOrMeasures) {
                        items += "<option value='" + nameOfInvestigationOrMeasures.idfsReference + "'>" + nameOfInvestigationOrMeasures.strName + "</option>";
                    });
                    $(monthId).html(items)
                    $(monthId).val(selectedNameOfInvestigationOrMeasure);
                });
        };

        function RefreshDiagnosisList() {
            var langId = $("#LanguageId").val();
            var selectedOrg = $('#DiagnosisId').val();

            $.ajax({
                url: '@Url.Action("GetDiagnosisList", "SummaryVeterinary", new { Area = "Reports", SubArea = "AJ" })' +"?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#DiagnosisId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, diagnosis) {
                        items += "<option value='" + diagnosis.idfsBaseReference + "'>" + diagnosis.name + "</option>";
                    });
                    $('#DiagnosisId').html(items);
                    $('#DiagnosisId').val(selectedOrg);
                });
        };

        function RefreshSpeciesTypes() {
            var nodeValue = $("#DiagnosisId").val();
            var langId = $("#LanguageId").val();
            var selectedSpeciesTypeId = $("#SpeciesTypeId").val();
            $.ajax({
                url: '@Url.Action("GetSpeciesTypes", "SummaryVeterinary", new { Area = "Reports", SubArea = "AJ" })' + "?langId=" + langId+"&node=" + nodeValue ,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#SpeciesTypeId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, speciesType) {
                        items += "<option value='" + speciesType.idfsReference + "'>" + speciesType.name + "</option>";
                    });
                    $('#SpeciesTypeId').html(items);
                    $("#SpeciesTypeId").val(selectedSpeciesTypeId);
                });
        };

        function changeVetSummarySurveillanceType(e) {
            var x = document.getElementById("NameOfInvestigationOrMeasureId");
            if (e.value == "3") {
                $("#NameOfInvestigationOrMeasureId").prop('disabled', false);
            }
            else {
                $("#NameOfInvestigationOrMeasureId").prop('disabled', true);
                $("#NameOfInvestigationOrMeasureId").val('').change();
            }
        };
    </script>

    <partial name="_ValidationScriptsPartial" />

    @if (@Model.JavascriptToRun != null)
    {
        <script type="text/javascript">
            @Html.Raw(@Model.JavascriptToRun)
        </script>
    }
}