@using EIDSS.Domain.ViewModels.Human
@inherits DiseaseReportContactListBase

<EditForm id="DiseaseReportContactListForm" Model="@Model">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.HumanDiseaseReportContactsListHeading)</h4>
                </div>
                <div class="col-1 pull-right mb-3">
                    <button @onclick="@(PersonSearchClicked)" Text="@Localizer.GetString(ButtonResourceKeyConstants.AddButton)" class="btn btn-outline-primary" disabled="@IsAddButtonDisabled">@Localizer.GetString(ButtonResourceKeyConstants.AddButton)</button>
                </div>
            </div>
        </div>
        <div class="card-body">
            <RadzenPanel>
                <div class="form-row">
                    <div class="col-md-12">
                        <RadzenDataGrid AllowColumnReorder="true" AllowColumnResize="true" AllowPaging="false" AllowSorting="true" SelectionMode="DataGridSelectionMode.Single" Data="@Model.NotDeletedContactDetails" ExpandMode="DataGridExpandMode.Single" id="ContactsGrid" Mode="EditMode.Dialog" @ref="_grid" TItem="DiseaseReportContactDetailsViewModel">
                            <Columns>
                                <RadzenDataGridColumn Filterable="false" Property="RowID" Sortable="false" TItem="DiseaseReportContactDetailsViewModel" Visible="false" Width="40px"/>
                                <RadzenDataGridColumn Filterable="false" Property="idfContactedCasePerson" Sortable="false" TItem="DiseaseReportContactDetailsViewModel" Visible="false" Width="40px"/>
                                <RadzenDataGridColumn Property="strFirstName" TItem="DiseaseReportContactDetailsViewModel" Title="@Localizer.GetString(FieldLabelResourceKeyConstants.ContactInformationModalFirstNameFieldLabel)">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn Property="strSecondName" TItem="DiseaseReportContactDetailsViewModel" Title="@Localizer.GetString(FieldLabelResourceKeyConstants.ContactInformationModalMiddleNameFieldLabel)"/>
                                <RadzenDataGridColumn Property="strLastName" TItem="DiseaseReportContactDetailsViewModel" Title="@Localizer.GetString(FieldLabelResourceKeyConstants.ContactInformationModalLastNameFieldLabel)"/>
                                <RadzenDataGridColumn Property="strPersonContactType" TItem="DiseaseReportContactDetailsViewModel" Title="@Localizer.GetString(FieldLabelResourceKeyConstants.ContactInformationModalRelationFieldLabel)">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn Property="datDateOfLastContact" TItem="DiseaseReportContactDetailsViewModel" Title="@Localizer.GetString(FieldLabelResourceKeyConstants.ContactInformationModalDateOfLastContactFieldLabel)"/>
                                <RadzenDataGridColumn Property="strPlaceInfo" TItem="DiseaseReportContactDetailsViewModel" Title="@Localizer.GetString(FieldLabelResourceKeyConstants.ContactInformationModalPlaceOfLastContactFieldLabel)">
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn Property="strPatientAddressString" TItem="DiseaseReportContactDetailsViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.ContactListContactsInformationColumnHeading)"/>
                                <RadzenDataGridColumn Property="strComments" TItem="DiseaseReportContactDetailsViewModel" Title="@Localizer.GetString(FieldLabelResourceKeyConstants.VaccinationDetailsModalCommentsFieldLabel)"/>
                                <RadzenDataGridColumn Filterable="false" Property="" Reorderable="false" Sortable="false" TItem="DiseaseReportContactDetailsViewModel" Title="" Width="50px">
                                    <Template Context="data">
                                        @if (IsEditDeleteDisabled)
                                        {
                                            <button class="btn btn-sm disabled" disabled type="button">
                                                <i class="fas fa-edit fa-lg"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button @onclick="@(() => OpenEditModal(data))" class="btn btn-sm" type="button">
                                                <i class="fas fa-edit fa-lg"></i>
                                            </button>
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                                <RadzenDataGridColumn TItem="DiseaseReportContactDetailsViewModel" Context="order" Filterable="false" Reorderable="false" Sortable="false" TextAlign="TextAlign.Center" Width="50px">
                                    <Template Context="data">
                                        @if (IsEditDeleteDisabled)
                                        {
                                            <button class="btn btn-sm disabled" disabled type="button">
                                                <i class="fas fa-trash fa-lg"></i>
                                            </button>
                                        }
                                        else
                                        {
                                            <button @onclick="@(() => DeleteRow(data))" class="btn btn-sm" type="button">
                                                <i class="fas fa-trash fa-lg"></i>
                                            </button>
                                        }
                                    </Template>
                                </RadzenDataGridColumn>
                            </Columns>
                        </RadzenDataGrid>
                    </div>
                </div>
            </RadzenPanel>
        </div>
    </div>
</EditForm>