@using EIDSS.Domain.ResponseModels.Administration
@using EIDSS.Web.ViewModels.Human
@using EIDSS.Web.Components.CrossCutting
@using static EIDSS.ClientLibrary.Enumerations.EIDSSConstants
@using EIDSS.Web.Components.Shared.EmployerSearch

@inherits EIDSS.Web.Components.Human.HumanDiseaseReport.DiseaseReportFinalOutcomeBase
@{
    var hospitalizationDateLabel = Localizer.GetString((FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsDateOfHospitalizationFieldLabel));
    var dateOfDischargeLabel = Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFacilityDetailsDateOfDischargeFieldLabel);
    var dateOfDischargeCompareLabel = string.Format(Localizer.GetString(MessageResourceKeyConstants.GlobalMustBeGreaterThanOrEqualToMessage).Value, dateOfDischargeLabel, hospitalizationDateLabel);
}

<RadzenTemplateForm id="FinalOutcomeForm" @ref="_form" TItem="DiseaseReportFinalOutcomeViewModel" Data="@Model" Submit="@HandleValidFinalOutcomeSubmit" OnInvalidSubmit="@HandleInvalidFinalOutcomeSubmit">
    <div class="card">
        <div class="card-header">
            <h4>@Localizer.GetString(HeadingResourceKeyConstants.HumanDiseaseReportFinalOutcomeHeading)</h4>
        </div>
        <div class="card-body">
            @if ((Model.blnFinalSSD == null || (Model.blnFinalSSD != null && Model.blnFinalSSD.Value == false))
          && (Model.blnInitialSSD == null || (Model.blnInitialSSD != null && Model.blnInitialSSD.Value == false)
          ))
            {
                <div class="form-row">

                    <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeFinalCaseClassificationFieldLabel" IsRow="false" CssClass="col-md-6" For="FinalCaseClassificationDD">
                        <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Name="FinalCaseClassificationDD" TValue="long?" LoadData="@LoadFinalCaseClassification" Data="@finalCaseClassification" ValueProperty="idfsBaseReference" TextProperty="StrDefault" @bind-Value="@Model.idfsFinalCaseStatus" Count="@finalCaseClassificationCount" class="form-control" Disabled="@isReportClosed" Change="@(args => UpdateFinalCaseClassification(args))"></RadzenDropDown>
                    </InterfaceEditorResource>

                    <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeDateOfFinalCaseClassificationFieldLabel" IsRow="false" CssClass="col-md-4" For="datFinalCaseClassificationDate">
                        <HdrCustomDatePicker
                            FieldType="@HdrCustomDatePickerFieldTypes.DateOfFinalCaseClassification"
                            Id="datFinalCaseClassificationDate" 
                            Name="datFinalCaseClassificationDate"
                            @bind-Value="@HdrStateContainer.DateOfFinalCaseClassification"
                            Change="@(args => UpdateFinalClassificationDate(args))"
                            Disabled="@isReportClosed"/>
                        <RadzenCompareValidator Value="@Model.datSampleStatusDate" Component="datFinalCaseClassificationDate" Popup=false Operator="CompareOperator.GreaterThanEqual"
                                                Text=@string.Format(Localizer.GetString(MessageResourceKeyConstants.Date2MustBeSameOrLaterThanDate1Message), Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeDateOfFinalCaseClassificationFieldLabel), Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportTestsResultDateFieldLabel))
                                                Style="display: block" />
                    </InterfaceEditorResource>
                </div>
            }
                <div class="form-row">
                    @*<div class="col-md-12">*@
                    <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeBasisOfDiagnosisFieldLabel" IsRow="false" CssClass="col-md-12">


                        <RadzenCheckBox id="blnClinicalDiagBasis" name="blnClinicalDiagBasis" @bind-Value="@Model.blnClinicalDiagBasis" TValue="bool?" Change="@(args => UpdateblnClinicalDiagBasis(args))" Disabled="@isReportClosed"></RadzenCheckBox>
                        <label for="blnClinicalDiagBasis">@Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeClinicalFieldLabel)</label>

                        <RadzenCheckBox id="blnEpiDiagBasis" name="blnEpiDiagBasis" @bind-Value="@Model.blnEpiDiagBasis" TValue="bool?" Change="@(args => UpdateblnEpiDiagBasis(args))" Disabled="@isReportClosed"></RadzenCheckBox>
                        <label for="blnEpiDiagBasis">@Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeEpidemiologicalLinksFieldLabel)</label>

                        <RadzenCheckBox id="blnLabDiagBasis" name="blnLabDiagBasis" @bind-Value="@Model.blnLabDiagBasis" TValue="bool?" Change="@(args => UpdateblnLabDiagBasis(args))" Disabled="@isReportClosed"></RadzenCheckBox>
                        <label for="blnLabDiagBasis">@Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeLaboratoryTestsFieldLabel)</label>
                        <label id="WarningBasisOfDiagnosis" name="WarningBasisOfDiagnosis"></label>
                    </InterfaceEditorResource>
                </div>
                @*  </div>*@
                <div class="form-row">
                    <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeOutcomeFieldLabel" IsRow="false" CssClass="col-md-6" For="FinalOutcomeDD">
                        <div class="input-group flex-nowrap">
                            <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Name="FinalOutcomeDD" TValue="long?" LoadData="@LoadFinalOutcome" Data="@finalOutcome" ValueProperty="idfsBaseReference" TextProperty="StrDefault" @bind-Value="@Model.idfsOutCome" Count="@finalOutcomeCount" class="form-control" Change="@(args => UpdateFinalOutcome(args))" Disabled="@isReportClosed"></RadzenDropDown>
                            @if (canAddBaseReference)
                            {
                                <button id="AddEmployee" type="button" @onclick=@(() => OpenAddBaseReference()) class="btn btn-outline-secondary btn-sm" disabled="@isReportClosed"><span class="fas fa-plus" aria-hidden="true"></span></button>
                            }
                        </div>
                    </InterfaceEditorResource>
                    @if (showDateOfDeath)
                    {
                    <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeDateOfDeathFieldLabel" IsRow="false" CssClass="col-md-4" For="datDateOfDeath">
                        <HdrCustomDatePicker
                            FieldType="@HdrCustomDatePickerFieldTypes.DateOfDeath"
                            Id="datDateOfDeath"
                            Name="datDateOfDeath"
                            @bind-Value="@HdrStateContainer.DateOfDeath"
                            Change="@(args => UpdateDateOfDeath(args))"
                            Disabled="@isReportClosed"/>
                    </InterfaceEditorResource>
                    }

                <InterfaceEditorResource InterfaceEditorKey="@dateOfDischargeLabel" IsRow="false" CssClass="col-md-4" For="DateOfDischarge" Visible=@(Model.idfsOutCome == FinalOutcome.Recovered)>
                    <HdrCustomDatePicker
                        FieldType="@HdrCustomDatePickerFieldTypes.DateOfDischarge"
                        Id="DateOfDischarge" 
                        Name="DateOfDischarge"
                        Disabled="@isReportClosed"
                        Value="@HdrStateContainer.DateOfDischarge"
                        Change="OnDateofDischargeChanged"/>
                    <RadzenCompareValidator Value="@HdrStateContainer.DateOfHospitalization"
                                            Component="DateOfDischarge"
                                            Text="@dateOfDischargeCompareLabel"
                                            Operator="CompareOperator.GreaterThanEqual" />
                    </InterfaceEditorResource>
                </div>
                <div class="form-row">
                    <InterfaceEditorResource InterfaceEditorKey="@ColumnHeadingResourceKeyConstants.CampaignInformationCommentsDescriptionsColumnHeading" CssClass="col-md-12" IsRow="false" For="Comments">
                        <RadzenTextArea id="Comments" Name="Comments" class="form-control sidebar-do-not-disable" @bind-Value="@Model.Comments" Change="@(args => UpdateComments(args))" Disabled="@isReportClosed" Style="min-height: 100px"/>
                    </InterfaceEditorResource>


                    <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportFinalOutcomeEpidemiologistNameFieldLabel" IsRow="false" CssClass="col-md-6" For="strEpidemiologistsNameDD">
                        <EmployerSearch 
                            @ref="@EpidemiologistsSelect"
                            Name="strEpidemiologistsNameDD"
                            @bind-SelectedEmployerText="@Model.strEpidemiologistsName"
                            @bind-SelectedEmployerId="@Model.idfInvestigatedByPerson"
                            OrganizationId="@HdrStateContainer.InvestigatedByOfficeId"
                            Disabled="@(!(HdrStateContainer.InvestigatedByOfficeId > 1) || @isReportClosed)"
                            Change="@UpdateEpidemologist"
                            ShowAddButton="@(canAddEmployee && !Model.IsReportClosed)" />
                    </InterfaceEditorResource>
                </div>
            </div>
    <div class="card-footer">

    </div>
        </div>
  </RadzenTemplateForm>
