@using EIDSS.Web.ViewModels.Human
@using EIDSS.Web.Components.Shared.EmployerSearch
@using EIDSS.Web.Components.CrossCutting
@using EIDSS.Web.Components.Shared.Organization
@inherits EIDSS.Web.Components.Human.HumanDiseaseReport.DiseaseReportSampleAddModalBase

<RadzenTemplateForm id="humanDiseaseReportAddSamplesForm" @ref="_form" TItem="DiseaseReportSamplePageSampleDetailViewModel" Data="@sampleDetailModel" Context="AddSampleDetail" Submit="@HandleValidSamplesSubmit">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="form-row">
            <input type="hidden" id="RowID" value="@sampleDetailModel.RowID" />
            <input type="hidden" id="TempLocalSampleID" value="@sampleDetailModel.TempLocalSampleID" />
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportFilterSampleByDiseaseFieldLabel" IsRow="false" CssClass="col-md-6" For="FilterSampleByDisease">
                <RadzenCheckBox @bind-Value="@sampleDetailModel.FilterSampleByDisease" TValue="bool?" Change="@(LoadSampleTypes)" Disabled="@IsReportClosed"></RadzenCheckBox>
            </InterfaceEditorResource>
        </div>
        <div class="form-row">
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportSampleTypeFieldLabel" IsRow="false" CssClass="col-md-6" For="SampleTypeDD">
                <RadzenDropDown AllowClear="true" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" Name="SampleTypeDD" TValue="long?" Data="@sampleTypes" ValueProperty="idfsBaseReference"
                                TextProperty="StrDefault" @bind-Value="@sampleDetailModel.SampleTypeID" Count="@SampleCount" class="form-control"
                                Change="@(UpdateSampleTypeName)" Disabled="@IsReportClosed"></RadzenDropDown>
            </InterfaceEditorResource>
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportLocalSampleIDFieldLabel" IsRow="false" CssClass="col-md-6" For="LocalSampleId">
                <RadzenTextBox @bind-Value="@sampleDetailModel.LocalSampleId" class="form-control" Disabled="@IsReportClosed"></RadzenTextBox>
            </InterfaceEditorResource>
        </div>
        <div class="form-row">
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportCollectionDateFieldLabel" IsRow="false" CssClass="col-md-4" For="CollectionDate">
                <HdrCustomDatePicker
                    FieldType="HdrCustomDatePickerFieldTypes.DateOfSampleCollection"
                    Id="Samples_CollectionDate" 
                    Name="Samples_CollectionDate"
                    @bind-Value="@sampleDetailModel.CollectionDate"
                    Change="@((DateTime? value) => { HdrStateContainer.DateOfCurrentSampleCollection = value; })"
                    Disabled="@IsReportClosed" />
                <RadzenCompareValidator Value="@sampleDetailModel.SymptomsOnsetDate" Component="Samples_CollectionDate" Popup="false" Operator="CompareOperator.GreaterThanEqual"
                                        Text="@string.Format(Localizer.GetString(MessageResourceKeyConstants.Date2MustBeSameOrLaterThanDate1Message), Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportSymptomsDateOfSymptomsOnsetFieldLabel), Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportCollectionDateFieldLabel))"
                                        Style="display: block" />
                <RadzenCompareValidator Value="@DateTime.Now" Component="Samples_CollectionDate" Popup="false" Operator="CompareOperator.LessThanEqual"
                                        Text="@Localizer.GetString(MessageResourceKeyConstants.FutureDatesAreNotAllowedMessage)"
                                        Style="display: block" />
            </InterfaceEditorResource>
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportCollectedByInstitutionFieldLabel" IsRow="false" CssClass="col-md-4" For="CollectedByOrganizationID">
                <OrganizationSearch
                    @bind-SelectedOrganizationText="@sampleDetailModel.CollectedByOrganization"
                    SelectedOrganizationIdChanged="@UpdateCollectedByOrganizationName"
                    Name="CollectedByOrganizationID"/>
            </InterfaceEditorResource>
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportCollectedByOfficerFieldLabel" IsRow="false" CssClass="col-md-4" For="CollectedByOfficerID">
                <EmployerSearch
                    @ref="@CollectedByOfficerComponent"
                    Name="notificationSentByNameComponent"
                    @bind-SelectedEmployerText="@sampleDetailModel.CollectedByOfficer"
                    @bind-SelectedEmployerId="@sampleDetailModel.CollectedByOfficerID"
                    OrganizationId="@sampleDetailModel.CollectedByOrganizationID"
                    Disabled="@(!(sampleDetailModel.CollectedByOrganizationID > 1))"
                    ShowAddButton="@canAddEmployee"/>
            </InterfaceEditorResource>
        </div>
        <div class="form-row">
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportSentDateFieldLabel" IsRow="false" CssClass="col-md-6" For="CollectedByOfficerID">
                <HdrCustomDatePicker
                    FieldType="HdrCustomDatePickerFieldTypes.DateOfSampleSent"
                    Id="Samples_SentDate" 
                    Name="Samples_SentDate"
                    @bind-Value="@sampleDetailModel.SentDate"
                    Change="@((DateTime? value) => { HdrStateContainer.DateOfCurrentSampleSent = value; })"
                    Disabled="@IsReportClosed"/>
                <RadzenCompareValidator Value="@sampleDetailModel.CollectionDate" Component="Samples_SentDate" Popup="false" Operator="CompareOperator.GreaterThanEqual"
                                        Text="@string.Format(Localizer.GetString(MessageResourceKeyConstants.Date2MustBeSameOrLaterThanDate1Message), Localizer.GetString(FieldLabelResourceKeyConstants.HumanDiseaseReportCollectionDateFieldLabel), Localizer.GetString(FieldLabelResourceKeyConstants.HumanAggregateDiseaseReportDateSentFieldLabel))"
                                        Style="display: block" />
            </InterfaceEditorResource>
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportSentToOrganizationFieldLabel" IsRow="false" CssClass="col-md-6" For="SentToOrganizationID">
                <OrganizationSearch
                    @bind-SelectedOrganizationText="@sampleDetailModel.SentToOrganization"
                    @bind-SelectedOrganizationId="@sampleDetailModel.SentToOrganizationID"
                    Name="SentToOrganizationID"/>
                <RadzenCustomValidator Validator="@(() => sampleDetailModel.SentToOrganizationID > 0)" Popup="false" Style="position: absolute" Text="@Localizer.GetString(MessageResourceKeyConstants.FieldIsRequiredMessage)" />
            </InterfaceEditorResource>
        </div>
        <div class="form-row">
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportAccessionDateFieldLabel" IsRow="false" CssClass="col-md-6" For="AccessionDate">
                <RadzenDatePicker @bind-Value="@sampleDetailModel.AccessionDate" class="form-control-range" DateFormat="d" ReadOnly="true" Disabled="@IsReportClosed"></RadzenDatePicker>
            </InterfaceEditorResource>
            <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.HumanDiseaseReportSampleConditionReceivedFieldLabel" IsRow="false" CssClass="col-md-6" For="SampleConditionRecieved">
                <RadzenTextArea @bind-Value="@sampleDetailModel.SampleConditionRecieved" class="form-control" ReadOnly="true" Disabled="@IsReportClosed"></RadzenTextArea>
            </InterfaceEditorResource>
        </div>
    </div>
    <div class="card-footer">
        <button type="button" class="btn btn-secondary"
                @onclick="((args) => DiagService.Close(null))">
            @Localizer.GetString(ButtonResourceKeyConstants.CancelButton)
        </button>

        <button type="submit" class="btn btn-primary" Disabled="@IsReportClosed">
            @Localizer.GetString(ButtonResourceKeyConstants.SaveButton)
        </button>
    </div>

</RadzenTemplateForm>
