@inherits EIDSS.Web.Components.Administration.Deduplication.HumanDiseaseReport.RiskFactorsBase

@using EIDSS.Web.Components.FlexForm

<div class="form-row">
    <div class="col-6">
                <RadzenRadioButtonList class="form-control" Name="rboRecordriskFactors" TValue="int" @bind-Value=@HumanDiseaseReportDeduplicationService.RecordSelection
                                       Change="@((args) => OnRecordSelectionChangeAsync(args))">
                    <Items>
                        <RadzenRadioButtonListItem Text="@Localizer.GetString(FieldLabelResourceKeyConstants.DeduplicationPersonSurvivorFieldLabel)" Value="1" />
                        <RadzenRadioButtonListItem Text="@Localizer.GetString(FieldLabelResourceKeyConstants.DeduplicationPersonSupersededFieldLabel)" Value="2" />
                    </Items>
                </RadzenRadioButtonList>
                <div class="card-header" id="RiskFactors"></div>
                <RadzenCheckBox Name="chkCheckAllRiskFactors" @bind-Value=@HumanDiseaseReportDeduplicationService.chkCheckAllRiskFactors TValue="bool" Change="@((args) => OnCheckAllRiskFactorsChangeAsync(args))" />
                <RadzenLabel Text="@Localizer.GetString(FieldLabelResourceKeyConstants.DeduplicationPersonCheckAllFieldLabel)" Component="chkCheckAllRiskFactors" Style="margin-left: 8px; vertical-align: middle;" />
    </div>
    <div class="col-6">
                <RadzenRadioButtonList class="form-control" Name="rboRecord2" TValue="int" @bind-Value=@HumanDiseaseReportDeduplicationService.Record2Selection
                                       Change="@((args) => OnRecord2SelectionChangeAsync(args))">
                    <Items>
                        <RadzenRadioButtonListItem Text="@Localizer.GetString(FieldLabelResourceKeyConstants.DeduplicationPersonSurvivorFieldLabel)" Value="1" />
                        <RadzenRadioButtonListItem Text="@Localizer.GetString(FieldLabelResourceKeyConstants.DeduplicationPersonSupersededFieldLabel)" Value="2" />
                    </Items>
                </RadzenRadioButtonList>
                <div class="card-header" id="RiskFactors2"></div>
                <RadzenCheckBox Name="chkCheckAllRiskFactors2" @bind-Value=@HumanDiseaseReportDeduplicationService.chkCheckAllRiskFactors2 TValue="bool" Change="@((args) => OnCheckAllRiskFactors2ChangeAsync(args))" />
                <RadzenLabel Text="@Localizer.GetString(FieldLabelResourceKeyConstants.DeduplicationPersonCheckAllFieldLabel)" Component="chkCheckAllRiskFactors2" Style="margin-left: 8px; vertical-align: middle;" />
    </div>
</div>
<div class="form-row">
    <div class="col-6 mx-auto">
        <RadzenCard>
                @if (HumanDiseaseReportDeduplicationService.RiskFactorsList != null)
                {                 
                     <RadzenDataList WrapItems=false AllowPaging=false Data=HumanDiseaseReportDeduplicationService.RiskFactorsList TItem="Field" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary=false>
                    <Template Context="field">
                          @if (field.Index==0)
                    {
                      <RadzenCheckBox @bind-Value="field.Checked" Name=@field.Key TValue="bool" Disabled=@field.Disabled 
                            TriState=false Style="vertical-align: top !important;"  Change="@((args) => OnDataListRiskFactorsSelectionChangeAsync(args, field.Index))"/>
                            <div class="ml-2 d-inline-block vertical-align-middle">
                                <RadzenLabel Text="@field.Label" Component=@field.Key Style=@($"vertical-align: middle; {@field.Color}") />
                            </div>       
                    }
                    </Template>
                </RadzenDataList>
                  <div class="card">
        <div id="divSymptomsList">          
           <FlexForm @ref="HumanDiseaseReportDeduplicationService.RiskFactorsDetails" FormDisabledIndicator="HumanDiseaseReportDeduplicationService.FlexFormDisabledIndicatorRiskFactors" Request="@HumanDiseaseReportDeduplicationService.RiskFactorsFlexFormRequest"/>
        </div>
    </div>
                }
               
        </RadzenCard>
    </div>
    <div class="col-6">
        <RadzenCard>
                @if (HumanDiseaseReportDeduplicationService.RiskFactorsList2 != null)
                {

                     <RadzenDataList WrapItems=false AllowPaging=false Data=HumanDiseaseReportDeduplicationService.RiskFactorsList2 TItem="Field" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary=false>
                    <Template Context="field">
                        @if (field.Index==0)
                    {
                      <RadzenCheckBox @bind-Value="field.Checked" Name=@field.Key TValue="bool" Disabled=@field.Disabled 
                            TriState=false Style="vertical-align: top !important;"  Change="@((args) => OnDataListRiskFactors2SelectionChangeAsync(args, field.Index))"/>
                            <div class="ml-2 d-inline-block vertical-align-middle">
                                <RadzenLabel Text="@field.Label" Component=@field.Key Style=@($"vertical-align: middle; {@field.Color}") />
                            </div>       
                    }
                    </Template>
                </RadzenDataList>
                 <div class="card">
        <div id="divSymptomsList2">          
           <FlexForm @ref="HumanDiseaseReportDeduplicationService.RiskFactorsDetails2" FormDisabledIndicator="HumanDiseaseReportDeduplicationService.FlexFormDisabledIndicatorRiskFactors" Request="@HumanDiseaseReportDeduplicationService.RiskFactorsFlexFormRequest2"/>
        </div>
    </div>
                }
                 
        </RadzenCard>
    </div>
</div>