@using EIDSS.Domain.Enumerations
@using EIDSS.Web.Areas.Administration.SubAreas.Deduplication.ViewModels.VeterinaryDiseaseReportDeduplication
@using EIDSS.Domain.ViewModels.Veterinary
@using EIDSS.Web.Enumerations
@using static ClientLibrary.Enumerations.EIDSSConstants
@using EIDSS.Web.Components.FlexForm
@using EIDSS.Web.Components.CrossCutting
@using EIDSS.Domain.ViewModels.CrossCutting;

@inherits VeterinaryDiseaseReportDeduplicationDetailsBase

<RadzenTemplateForm id="veterinaryDiseaseReportDeduplicationDetailsForm" @ref="Form" TItem="VeterinaryDiseaseReportDeduplicationDetailsViewModel" Data="@Model">
@if (ShowDetails)
{
    <RadzenTabs Change="@OnChange" RenderMode="TabRenderMode.Server" SelectedIndex="(int) Tab">
        <Tabs>
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportFarmDetailsHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.FarmDetails)
                {
                    <div>
                        <FarmDetails Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportNotificationHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.Notification)
                {
                    <div>
                        <Notification Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Text="@FarmInventoryHeadingResourceKey">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.FarmInventory)
                {
                    <div>
                        <FarmInventory Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportFarmEpiInformationHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.FarmEpiInformation)
                {
                    <div>
                        <FarmEpiInformation Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportSpeciesInvestigationHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.SpeciesInvestigation)
                {
                    <div>
                        <SpeciesInvestigation Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.VeterinaryDiseaseReportVaccinationsHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.Vaccination)
                {
                    <div>
                        <Vaccination Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            @if (Model.ReportType == VeterinaryReportTypeEnum.Livestock)
            {
                <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportControlMeasuresHeading)">
                    @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.ControlMeasures)
                    {
                        <div>
                            <ControlMeasures Model="@Model"/>
                        </div>
                    }
                </RadzenTabsItem>
                <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportAnimalsHeading)">
                    @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.Animals)
                    {
                        <div>
                            <Animals Model="@Model"/>
                        </div>
                    }
                </RadzenTabsItem>
            }
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportSamplesHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.Samples)
                {
                    <div>
                        <Samples Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportPensideTestsHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.PensideTests)
                {
                    <div>
                        <PensideTests Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportLabTestsHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.LabTests)
                {
                    <div>
                        <LabTests Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>
            <RadzenTabsItem Text="@Localizer.GetString(HeadingResourceKeyConstants.VeterinaryDiseaseReportCaseLogHeading)">
                @if (Tab == VeterinaryDiseaseReportDeduplicationTabEnum.CaseLog)
                {
                    <div>
                        <CaseLog Model="@Model"/>
                    </div>
                }
            </RadzenTabsItem>

        </Tabs>
    </RadzenTabs>

    <div class="card-footer">
        <div class="row">
            <div class="col-md-12">
                <button id="cancelButton" class="btn btn-outline-primary" type="button" @onclick="@(CancelMergeClicked)">@Localizer.GetString(ButtonResourceKeyConstants.CancelButton)</button>
                @if (ShowPreviousButton)
                {<button class="btn btn-outline-primary" id="previousButton" @onclick="@(PreviousClicked)" type="button">@Localizer.GetString(ButtonResourceKeyConstants.PreviousButton)</button>}
                @if (ShowNextButton)
                {<button class="btn btn-outline-primary" id="nextButton" @onclick="@(NextClicked)" type="button">@Localizer.GetString(ButtonResourceKeyConstants.NextButton)</button>}
                <button class="btn btn-primary" disabled="@DisableMergeButton" id="mergeButton" @onclick="OnMergeAsync" type="button">@Localizer.GetString(ButtonResourceKeyConstants.DeduplicationMergeButtonText)</button>
            </div>
        </div>
    </div>
}
@if (ShowReview)
{
    <RadzenCard>
        <div class="card-header" id="ReviewFarmDetails">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportFarmDetailsHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(0))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        @if (VeterinaryDiseaseReportDeduplicationService.SurvivorInfoList != null)
        {
            <RadzenDataList AllowPaging="false" Data="VeterinaryDiseaseReportDeduplicationService.SurvivorInfoList.Where(x => x.Index < ReportStatusTypeId)" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="false" TItem="Field" WrapItems="false">
                <Template Context="field">
                    <RadzenCheckBox @bind-Value="field.Checked" Name="@field.Key" Disabled="@field.Disabled" TriState="false" Style="vertical-align: top !important;"/>
                    <div class="ml-2 d-inline-block vertical-align-middle">
                        <RadzenLabel Text="@field.Label" Component=@field.Key Style=@($"vertical-align: middle; {field.Color}")/>
                        <span>@(field.Value)</span>
                    </div>
                </Template>
            </RadzenDataList>
        }
    </RadzenCard>
    <RadzenCard>
        <div class="card-header" id="ReviewNotification">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportNotificationHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(1))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        @if (VeterinaryDiseaseReportDeduplicationService.SurvivorNotificationList != null)
        {
            <RadzenDataList AllowPaging="false" Data="VeterinaryDiseaseReportDeduplicationService.SurvivorNotificationList.Where(x => x.Index < ReportedByOrganizationId)" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="false" TItem="Field" WrapItems="false">
                <Template Context="field">
                    <RadzenCheckBox @bind-Value="field.Checked" Name="@field.Key" Disabled="@field.Disabled" TriState="false" Style="vertical-align: top !important;"/>
                    <div class="ml-2 d-inline-block vertical-align-middle">
                        <RadzenLabel Text="@field.Label" Component="@field.Key" Style="@($"vertical-align: middle; {field.Color}")"/>
                        <span>@(field.Value)</span>
                    </div>
                </Template>
            </RadzenDataList>
        }
    </RadzenCard>
    <RadzenCard>
        <div class="card-header" id="ReviewFarmInventory">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@FarmInventoryHeadingResourceKey</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(2))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <RadzenDataGrid AllowColumnReorder="false" AllowColumnResize="true" AllowFiltering="false" AllowPaging="false" AllowSorting="false" Data="@VeterinaryDiseaseReportDeduplicationService.SurvivorFarmInventory" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)" ExpandMode="DataGridExpandMode.Single" PageSize="10" TItem="FarmInventoryGetListViewModel">
            <Columns>
                <RadzenDataGridColumn Frozen="true" Property="SpeciesTypeID" TItem="FarmInventoryGetListViewModel" Title="@SpeciesColumnHeadingResourceKey" Width="225px">
                    <Template Context="item">
                        @switch (item.RecordType)
                        {
                            case RecordTypeConstants.Species:
                                <RadzenLabel Text="@item.SpeciesTypeName"/>
                                break;
                            case RecordTypeConstants.Herd:
                            {
                                string eidssFlockOrHerdId;
                                if (Model.ReportType == VeterinaryReportTypeEnum.Avian)
                                {
                                    eidssFlockOrHerdId = Localizer.GetString(FieldLabelResourceKeyConstants.AvianDiseaseReportFarmFlockSpeciesFlockFieldLabel) + " " + item.EIDSSFlockOrHerdID;
                                }
                                else
                                {
                                    eidssFlockOrHerdId = Localizer.GetString(FieldLabelResourceKeyConstants.LivestockDiseaseReportFarmHerdSpeciesHerdFieldLabel) + " " + item.EIDSSFlockOrHerdID;
                                }
                                <RadzenLabel Text="@eidssFlockOrHerdId"/>
                                break;
                            }
                            default:
                            {
                                string eidssFarmId;
                                if (Model.ReportType == VeterinaryReportTypeEnum.Avian)
                                {
                                    eidssFarmId = Localizer.GetString(FieldLabelResourceKeyConstants.AvianDiseaseReportFarmFlockSpeciesFarmFieldLabel) + " " + item.EIDSSFarmID;
                                }
                                else
                                {
                                    eidssFarmId = Localizer.GetString(FieldLabelResourceKeyConstants.LivestockDiseaseReportFarmHerdSpeciesFarmFieldLabel) + " " + item.EIDSSFarmID;
                                }
                                <RadzenLabel Text="@eidssFarmId"/>
                                break;
                            }
                        }
                    </Template>
                </RadzenDataGridColumn>
                <RadzenDataGridColumn Property="TotalAnimalQuantity" TItem="FarmInventoryGetListViewModel" Title="@TotalColumnHeadingResourceKey" Width="65px"/>
                <RadzenDataGridColumn Property="SickAnimalQuantity" TItem="FarmInventoryGetListViewModel" Title="@SickColumnHeadingResourceKey" Width="65px"/>
                <RadzenDataGridColumn Property="DeadAnimalQuantity" TItem="FarmInventoryGetListViewModel" Title="@DeadColumnHeadingResourceKey" Width="65px"/>
                <RadzenDataGridColumn Property="StartOfSignsDate" TItem="FarmInventoryGetListViewModel" Title="@StartOfSignsDateColumnHeadingResourceKey" Width="120px"/>
                <RadzenDataGridColumn Property="AverageAge" TItem="FarmInventoryGetListViewModel" Title="@AverageAgeColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Avian)" Width="100px"/>
                <RadzenDataGridColumn Property="Note" TItem="FarmInventoryGetListViewModel" Title="@NoteColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Livestock)" Width="160px"/>
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>
    <RadzenCard>
        <div class="card-header" id="ReviewFarmEpi">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportFarmEpiInformationHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(3))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <FlexForm FormDisabledIndicator="VeterinaryDiseaseReportDeduplicationService.FlexFormDisabledIndicator" Request="@VeterinaryDiseaseReportDeduplicationService.SurvivorFarmEpiFlexFormRequest"/>
    </RadzenCard>
    <RadzenCard>
        <div class="card-header" id="ReviewSpeciesInvestigation">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportSpeciesInvestigationHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(4))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="form-row">
            @if (VeterinaryDiseaseReportDeduplicationService.FarmInventory is not null)
            {
                <InterfaceEditorResource CssClass="col-6" For="species" InterfaceEditorKey="@FieldLabelResourceKeyConstants.LivestockDiseaseReportAnimalDetailsModalSpeciesFieldLabel" IsRow="false">
                    <RadzenLabel Text="@VeterinaryDiseaseReportDeduplicationService.SurvivorSpecies"/>
                </InterfaceEditorResource>
            }
        </div>
        <FlexForm FormDisabledIndicator="VeterinaryDiseaseReportDeduplicationService.FlexFormDisabledIndicator" Request="@VeterinaryDiseaseReportDeduplicationService.SurvivorSpeciesFlexFormRequest"/>
    </RadzenCard>
    <RadzenCard>
        <div class="card-header" id="ReviewVaccination">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.VeterinaryDiseaseReportVaccinationsHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(5))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <RadzenDataGrid AllowColumnResize="true" AllowFiltering="false" AllowPaging="true" AllowSorting="true" Count="@VeterinaryDiseaseReportDeduplicationService.SurvivorVaccinationsCount" Data="@VeterinaryDiseaseReportDeduplicationService.SurvivorVaccinations" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)" PageSizeOptions="pageSizeOptions" ShowPagingSummary="true" TItem="VaccinationGetListViewModel">
            <Columns>
                <RadzenDataGridColumn Property="DiseaseName" TItem="VaccinationGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryDiseaseReportVaccinationsDiseaseNameColumnHeading)"/>
                <RadzenDataGridColumn FormatString="{0:d}" Property="VaccinationDate" TItem="VaccinationGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryDiseaseReportVaccinationsDateColumnHeading)"/>
                <RadzenDataGridColumn Property="Species" TItem="VaccinationGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryDiseaseReportVaccinationsSpeciesColumnHeading)"/>
                <RadzenDataGridColumn Property="NumberVaccinated" TItem="VaccinationGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryDiseaseReportVaccinationsVaccinatedNumberColumnHeading)"/>
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>
    @if (Model.ReportType == VeterinaryReportTypeEnum.Livestock)
    {
        <RadzenCard>
            <div class="card-header" id="ReviewControlMeasures">
                <div class="form-row">
                    <div class="col-md-11">
                        <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportControlMeasuresHeading)</h4>
                    </div>
                    <div class="col-md-1">
                        <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(6))">
                            <i class="fas fa-edit fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
            <FlexForm FormDisabledIndicator="VeterinaryDiseaseReportDeduplicationService.FlexFormDisabledIndicator" Request="@VeterinaryDiseaseReportDeduplicationService.SurvivorControlMeasuresFlexFormRequest"/>
        </RadzenCard>
        <RadzenCard>
            <div class="card-header" id="ReviewAnimals">
                <div class="form-row">
                    <div class="col-md-11">
                        <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportAnimalsHeading)</h4>
                    </div>
                    <div class="col-md-1">
                        <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(7))">
                            <i class="fas fa-edit fa-lg"></i>
                        </button>
                    </div>
                </div>
            </div>
            <RadzenDataGrid AllowColumnReorder="true" AllowColumnResize="true" AllowFiltering="false" AllowPaging="true" AllowSorting="true" ColumnWidth="300px" Count="@VeterinaryDiseaseReportDeduplicationService.SurvivorAnimalsCount" Data="@VeterinaryDiseaseReportDeduplicationService.SurvivorAnimals" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)" PageSizeOptions="pageSizeOptions" ShowPagingSummary="true" TItem="AnimalGetListViewModel">
                <Columns>
                    <RadzenDataGridColumn Property="EIDSSHerdID" TItem="AnimalGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.LivestockDiseaseReportAnimalsHerdIDColumnHeading)" Width="150px"/>
                    <RadzenDataGridColumn Property="EIDSSAnimalID" TItem="AnimalGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.LivestockDiseaseReportAnimalsAnimalIDColumnHeading)" Width="150px"/>
                    <RadzenDataGridColumn Property="SpeciesTypeName" TItem="AnimalGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.LivestockDiseaseReportAnimalsSpeciesColumnHeading)" Width="150px"/>
                    <RadzenDataGridColumn Property="AgeTypeName" TItem="AnimalGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.LivestockDiseaseReportAnimalsAgeColumnHeading)" Width="150px"/>
                    <RadzenDataGridColumn Property="SexTypeName" TItem="AnimalGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.LivestockDiseaseReportAnimalsSexColumnHeading)" Width="150px"/>
                    <RadzenDataGridColumn Property="ConditionTypeName" TItem="AnimalGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.LivestockDiseaseReportAnimalsStatusColumnHeading)" Width="150px"/>
                    <RadzenDataGridColumn Property="AnimalDescription" TItem="AnimalGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.LivestockDiseaseReportAnimalsNoteAdditionalInfoColumnHeading)"/>
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
    }
    <RadzenCard>
        <div class="card-header" id="ReviewSamples">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportSamplesHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(8))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <RadzenDataGrid AllowColumnReorder="true" AllowColumnResize="true" AllowFiltering="false" AllowPaging="true" AllowSorting="true" ColumnWidth="300px" Count="@VeterinaryDiseaseReportDeduplicationService.SurvivorSamplesCount" Data="@VeterinaryDiseaseReportDeduplicationService.SurvivorSamples" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)" ExpandMode="DataGridExpandMode.Single" PageSizeOptions="pageSizeOptions" ShowPagingSummary="true" TItem="SampleGetListViewModel">
            <Columns>
                <RadzenDataGridColumn Property="EIDSSLaboratorySampleID" TItem="SampleGetListViewModel" Title="@LabSampleIdColumnHeadingResourceKey" Width="150px"/>
                <RadzenDataGridColumn Property="SampleTypeName" TItem="SampleGetListViewModel" Title="@SampleTypeColumnHeadingResourceKey" Width="200px"/>
                <RadzenDataGridColumn Property="EIDSSLocalOrFieldSampleID" TItem="SampleGetListViewModel" Title="@FieldSampleIdColumnHeadingResourceKey" Width="150px"/>
                <RadzenDataGridColumn Property="EIDSSAnimalID" TItem="SampleGetListViewModel" Title="@AnimalIdColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Livestock)" Width="150px"/>
                <RadzenDataGridColumn Property="Species" TItem="SampleGetListViewModel" Title="@SpeciesColumnHeadingResourceKey" Width="250px"/>
                <RadzenDataGridColumn Property="BirdStatusTypeName" TItem="SampleGetListViewModel" Title="@BirdStatusColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Avian)" Width="150px"/>
                <RadzenDataGridColumn FormatString="{0:d}" Property="CollectionDate" TItem="SampleGetListViewModel" Title="@CollectionDateColumnHeadingResourceKey" Width="175px"/>
                <RadzenDataGridColumn FormatString="{0:d}" Property="SentDate" TItem="SampleGetListViewModel" Title="@SentDateColumnHeadingResourceKey" Width="150px"/>
                <RadzenDataGridColumn Property="SentToOrganizationName" TItem="SampleGetListViewModel" Title="@SentToOrganizationColumnHeadingResourceKey" Width="250px"/>
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>
    <RadzenCard>
        <div class="card-header" id="ReviewSamples">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportPensideTestsHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(9))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <RadzenDataGrid AllowColumnReorder="true" AllowColumnResize="true" AllowFiltering="false" AllowPaging="true" AllowSorting="true" Count="@VeterinaryDiseaseReportDeduplicationService.SurvivorPensideTestsCount" Data="@VeterinaryDiseaseReportDeduplicationService.SurvivorPensideTests" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)" PageSizeOptions="pageSizeOptions" ShowPagingSummary="true" TItem="PensideTestGetListViewModel">
            <Columns>
                <RadzenDataGridColumn Property="PensideTestNameTypeName" TItem="PensideTestGetListViewModel" Title="@TestNameColumnHeadingResourceKey"/>
                <RadzenDataGridColumn Property="EIDSSLocalOrFieldSampleID" TItem="PensideTestGetListViewModel" Title="@FieldSampleIdColumnHeadingResourceKey"/>
                <RadzenDataGridColumn Property="SampleTypeName" TItem="PensideTestGetListViewModel" Title="@SampleTypeColumnHeadingResourceKey"/>
                <RadzenDataGridColumn Property="Species" TItem="PensideTestGetListViewModel" Title="@SpeciesColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Avian)"/>
                <RadzenDataGridColumn Property="EIDSSAnimalID" TItem="PensideTestGetListViewModel" Title="@AnimalIdColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Livestock)"/>
                <RadzenDataGridColumn Property="PensideTestResultTypeName" TItem="PensideTestGetListViewModel" Title="@ResultColumnHeadingResourceKey"/>
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>
    <RadzenCard>
        <div class="card-header" id="ReviewLabTests">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.LivestockDiseaseReportLabTestsHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(10))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-11">
            <div class="row">
                <div class="col-11">
                    <h4 class="header">@Localizer.GetString(LabTestsSubSectionHeadingResourceKey)</h4>
                </div>
            </div>
            <RadzenDataGrid AllowColumnReorder="true" AllowColumnResize="true" AllowFiltering="false" AllowPaging="true" AllowSorting="true" Count="@VeterinaryDiseaseReportDeduplicationService.SurvivorLabTestsCount" Data="@VeterinaryDiseaseReportDeduplicationService.SurvivorLabTests" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)" PageSizeOptions="pageSizeOptions" ShowPagingSummary="true" TItem="LaboratoryTestGetListViewModel">
                <Columns>
                    <RadzenDataGridColumn Property="EIDSSLocalOrFieldSampleID" TItem="LaboratoryTestGetListViewModel" Title="@LaboratoryTestsFieldSampleIdColumnHeadingResourceKey"/>
                    <RadzenDataGridColumn Property="Species" TItem="LaboratoryTestGetListViewModel" Title="@LaboratoryTestsSpeciesColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Avian)"/>
                    <RadzenDataGridColumn Property="EIDSSAnimalID" TItem="LaboratoryTestGetListViewModel" Title="@LaboratoryTestsAnimalIdColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Livestock)"/>
                    <RadzenDataGridColumn Property="DiseaseName" TItem="LaboratoryTestGetListViewModel" Title="@LaboratoryTestsTestDiseaseColumnHeadingResourceKey"/>
                    <RadzenDataGridColumn Property="TestNameTypeName" TItem="LaboratoryTestGetListViewModel" Title="@LaboratoryTestsTestNameColumnHeadingResourceKey"/>
                    <RadzenDataGridColumn Property="TestResultTypeName" TItem="LaboratoryTestGetListViewModel" Title="@LaboratoryTestsResultObservationColumnHeadingResourceKey"/>
                </Columns>
            </RadzenDataGrid>
            <div class="row">
                <div class="col-11">
                    <h4 class="header non-section">@ResultsSummaryAndInterpretationSubSectionResourceKey</h4>
                </div>
            </div>
            <RadzenDataGrid AllowColumnReorder="true" AllowColumnResize="true" AllowFiltering="false" AllowPaging="true" AllowSorting="true" Count="@VeterinaryDiseaseReportDeduplicationService.SurvivorInterpretationsCount" Data="@VeterinaryDiseaseReportDeduplicationService.SurvivorInterpretations" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)" PageSizeOptions="pageSizeOptions" ShowPagingSummary="true" TItem="LaboratoryTestInterpretationGetListViewModel">
                <Columns>
                    <RadzenDataGridColumn Property="EIDSSAnimalID" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsAnimalIdColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Livestock)" Width="150px"/>
                    <RadzenDataGridColumn Property="Species" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsSpeciesColumnHeadingResourceKey" Visible="@(Model.ReportType == VeterinaryReportTypeEnum.Avian)"/>
                    <RadzenDataGridColumn Property="DiseaseName" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsDiseaseColumnHeadingResourceKey" Width="300px"/>
                    <RadzenDataGridColumn Property="TestNameTypeName" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsTestNameColumnHeadingResourceKey" Width="250px"/>
                    <RadzenDataGridColumn Property="TestCategoryTypeName" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsTestCategoryColumnHeadingResourceKey" Width="200px"/>
                    <RadzenDataGridColumn Property="TestResultTypeName" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsTestResultColumnHeadingResourceKey" Width="200px"/>
                    <RadzenDataGridColumn Property="EIDSSLaboratorySampleID" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsLabSampleIdColumnHeadingResourceKey" Width="150px"/>
                    <RadzenDataGridColumn Property="SampleTypeName" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsSampleTypeColumnHeadingResourceKey" Width="250px"/>
                    <RadzenDataGridColumn Property="EIDSSLocalOrFieldSampleID" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsFieldSampleIdColumnHeadingResourceKey" Width="150px"/>
                    <RadzenDataGridColumn Property="InterpretedStatusTypeName" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsRuleOutRuleInColumnHeadingResourceKey" Width="125px"/>
                    <RadzenDataGridColumn Property="InterpretedComment" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsRuleOutRuleInCommentColumnHeadingResourceKey" Width="200px"/>
                    <RadzenDataGridColumn FormatString="{0:d}" Property="InterpretedDate" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsDateInterpretedColumnHeadingResourceKey" Width="150px"/>
                    <RadzenDataGridColumn Property="InterpretedByPersonName" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsRuleOutRuleInCommentColumnHeadingResourceKey" Width="200px"/>
                    <RadzenDataGridColumn Property="ValidatedStatusIndicator" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsValidatedColumnHeadingResourceKey" Width="100px"/>
                    <RadzenDataGridColumn Property="ValidatedComment" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsValidatedCommentColumnHeadingResourceKey" Width="200px"/>
                    <RadzenDataGridColumn FormatString="{0:d}" Property="ValidatedDate" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsDateValidatedColumnHeadingResourceKey" Width="150px"/>
                    <RadzenDataGridColumn Property="ValidatedByPersonName" TItem="LaboratoryTestInterpretationGetListViewModel" Title="@LaboratoryTestInterpretationsValidatedByColumnHeadingResourceKey" Width="200px"/>
                </Columns>
            </RadzenDataGrid>
        </div>
    </RadzenCard>
    <RadzenCard>
        <div class="card-header" id="ReviewCaseLog">
            <div class="form-row">
                <div class="col-md-11">
                    <h4>@Localizer.GetString(HeadingResourceKeyConstants.VeterinaryDiseaseReportCaseLogHeading)</h4>
                </div>
                <div class="col-md-1">
                    <button class="btn d-inline-block" @onclick="@(() => EditClickAsync(11))">
                        <i class="fas fa-edit fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <RadzenDataGrid AllowColumnReorder="true" AllowColumnResize="true" AllowFiltering="false" AllowPaging="true" AllowSorting="true" ColumnWidth="300px" Count="@VeterinaryDiseaseReportDeduplicationService.SurvivorCaseLogsCount" Data="@VeterinaryDiseaseReportDeduplicationService.SurvivorCaseLogs" EmptyText="@Localizer.GetString(MessageResourceKeyConstants.NoRecordsFoundMessage)" PageSizeOptions="pageSizeOptions" ShowPagingSummary="true" TItem="CaseLogGetListViewModel">
            <Columns>
                <RadzenDataGridColumn Property="ActionRequired" TItem="CaseLogGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryDiseaseReportCaseLogActionRequiredColumnHeading)" Width="150px"/>
                <RadzenDataGridColumn FormatString="{0:d}" Property="LogDate" TItem="CaseLogGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryDiseaseReportCaseLogDateColumnHeading)" Width="125px"/>
                <RadzenDataGridColumn Property="EnteredByPersonName" TItem="CaseLogGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryDiseaseReportCaseLogEnteredByColumnHeading)" Width="150px"/>
                <RadzenDataGridColumn Property="LogStatusTypeName" TItem="CaseLogGetListViewModel" Title="@Localizer.GetString(ColumnHeadingResourceKeyConstants.VeterinaryDiseaseReportCaseLogStatusColumnHeading)" Width="150px"/>
            </Columns>
        </RadzenDataGrid>
    </RadzenCard>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-outline-primary" id="cancelButtonReview" @onclick="@(CancelReviewClicked)" type="button">@Localizer.GetString(ButtonResourceKeyConstants.CancelButton)</button>
                <button class="btn btn-primary" id="saveButton" @onclick="@(() => OnSaveAsync(Model.ReportType))" type="button">@Localizer.GetString(ButtonResourceKeyConstants.SaveButton)</button>
            </div>
        </div>
    </div>
}
</RadzenTemplateForm>