@using EIDSS.Web.Components.Shared.SSRSViewer
@inherits DisplayReportBase

<div class="card">
    @if (!string.IsNullOrEmpty(ReportHeader))
    {
        <div class="card-header">
            <h4>@ReportHeader</h4>
        </div>
    }
    <div class="card-body">
        @if (Parameters == null && string.IsNullOrEmpty(ParametersJson))
        {
            <SSRSViewer @ref="Viewer" ReportName="@ReportName" ReportServer="@ReportServer" UseProxy="@UseProxy"/>
        }
        else
        {
            <SSRSViewer @ref="Viewer" ReportName="@ReportName" ReportServer="@ReportServer" UseProxy="@UseProxy">
                <Parameters>
                    @foreach (var (key, value) in Parameters)
                    {
                        <SSRSViewerParameter ParameterName="@key" Value="@(string.IsNullOrEmpty(value) ? string.Empty : value)"/>
                    }
                </Parameters>
            </SSRSViewer>
        }
    </div>
    @if (CancelButtonVisibleIndicator)
    {
        <div class="card-footer">
            <button class="btn btn-secondary" id="displayReportCancel" @onclick="OnCancel" type="button">@Localizer.GetString(ButtonResourceKeyConstants.CancelButton)</button>
        </div>
    }
</div>