@using EIDSS.Domain.ViewModels.Veterinary
@using EIDSS.Web.Components.CrossCutting
@using EIDSS.Web.Components.Shared
@inherits EIDSS.Web.Components.Veterinary.ActiveSurveillanceSession.FarmDetailBase

<div class="card">
    <div class="card-header">
        <h5>@Localizer.GetString(HeadingResourceKeyConstants.FarmDetailsFarmDetailsHeading)</h5>
    </div>
    <div class="card-body">
        <RadzenTemplateForm @ref="form" TItem="FarmMasterGetDetailViewModel" Data=@StateContainer.FarmDetail>
            <div class="card">
                <div class="card-body">
                    <div class="form-row">
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.VeterinarySessionDetailedInformationFarmIDFieldLabel" IsRow="false" CssClass="col-4" For="farmID">
                            <RadzenTextBox Name="farmID" class="form-control" @bind-Value="@StateContainer.FarmDetail.EIDSSFarmID" Disabled="true" MaxLength="36"></RadzenTextBox>
                        </InterfaceEditorResource>
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.VeterinarySessionDetailedInformationFarmNameFieldLabel" IsRow="false" CssClass="col-8" For="farmName">
                            <RadzenTextBox Name="farmName" class="form-control" @bind-Value="@StateContainer.FarmDetail.FarmName" Disabled="true" MaxLength="200"></RadzenTextBox>
                        </InterfaceEditorResource>
                    </div>
                    <div class="form-row">
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.VeterinarySessionDetailedInformationFarmOwnerIDFieldLabel" IsRow="false" CssClass="col-3" For="farmOwnerID">
                            <RadzenTextBox Name="farmOwnerID" class="form-control" @bind-Value="@StateContainer.FarmDetail.EIDSSFarmOwnerID" Disabled="true" MaxLength="36"></RadzenTextBox>
                        </InterfaceEditorResource>
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.VeterinarySessionDetailedInformationFarmOwnerLastNameFieldLabel" IsRow="false" CssClass="col-3" For="farmOwnerLastName">
                            <RadzenTextBox Name="farmOwnerLastName" class="form-control" @bind-Value="@StateContainer.FarmDetail.FarmOwnerLastName" Disabled="true" MaxLength="200"></RadzenTextBox>
                        </InterfaceEditorResource>
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.VeterinarySessionDetailedInformationFarmOwnerFirstNameFieldLabel" IsRow="false" CssClass="col-3" For="farmOwnerFirstName">
                            <RadzenTextBox Name="farmOwnerFirstName" class="form-control" @bind-Value="@StateContainer.FarmDetail.FarmOwnerFirstName" Disabled="true" MaxLength="200"></RadzenTextBox>
                        </InterfaceEditorResource>
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.VeterinarySessionDetailedInformationFarmOwnerMiddleNameFieldLabel" IsRow="false" CssClass="col-3" For="farmOwnerSecondName">
                            <RadzenTextBox Name="farmOwnerSecondName" class="form-control" @bind-Value="@StateContainer.FarmDetail.FarmOwnerSecondName" Disabled="true" MaxLength="200"></RadzenTextBox>
                        </InterfaceEditorResource>
                    </div>
                    <div class="form-row">
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.VeterinarySessionDetailedInformationPhoneFieldLabel" IsRow="false" CssClass="col-4" For="phone">
                            <RadzenTextBox Name="phone" class="form-control" @bind-Value="@StateContainer.FarmDetail.Phone" Disabled="true" MaxLength="200"></RadzenTextBox>
                        </InterfaceEditorResource>
                        <InterfaceEditorResource InterfaceEditorKey="@FieldLabelResourceKeyConstants.VeterinarySessionDetailedInformationEmailFieldLabel" IsRow="false" CssClass="col-8" For="email">
                            <RadzenTextBox Name="email" class="form-control" @bind-Value="@StateContainer.FarmDetail.Email" Disabled="true" MaxLength="200"></RadzenTextBox>
                        </InterfaceEditorResource>
                    </div>
                    <h6>@Localizer.GetString(HeadingResourceKeyConstants.FarmDetailsFarmAddressHeading)</h6>
                    <LocationView Id="FarmLocationDetail" ParmLocationViewModel="StateContainer.FarmLocationModel"></LocationView>
                </div>
            </div>
        </RadzenTemplateForm>
    </div>
</div>