@model EIDSS.Web.Areas.Reports.ViewModels.VeterinaryAberrationAnalysisViewModel
@using EIDSS.ReportViewer

@{
    ViewBag.Title = Localizer.GetString(HeadingResourceKeyConstants.AvianLivestockAberrationAnalysisReportPageHeading);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post" asp-action="Index" asp-controller="VeterinaryAberrationAnalysis" asp-area="Reports">
    <div class="card">
        <div class="card-header">
            <h3 heading-for="@(HeadingResourceKeyConstants.AvianLivestockAberrationAnalysisReportPageHeading + "," + Model.LanguageId)"></h3>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="LanguageId" field-label-for="@(FieldLabelResourceKeyConstants.LanguageFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="LanguageId"
                                asp-items="@(new SelectList(Model.ReportLanguageModels, "LangID", "Language"))" class="form-control">
                        </select>
                        <input type="hidden" asp-for="PriorLanguageId" />
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="CaseTypeId" field-label-for="@(FieldLabelResourceKeyConstants.CaseTypeFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="CaseTypeId" style="width: 80%;"
                                asp-items="@(new SelectList(Model.CaseTypeList, "IdfsBaseReference", "Name"))" class="form-control">
                            <option></option>
                        </select>
                        <span asp-validation-for="CaseTypeId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="DiagnosisId" field-label-for="@(FieldLabelResourceKeyConstants.DiagnosisFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="DiagnosisId" multiple
                                asp-items="@(new SelectList(Model.DiagnosisList, "IdfsBaseReference", "Name"))" class="form-control">
                        </select>
                        <span asp-validation-for="DiagnosisId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4 text-right">
                    <button type="submit" id="submitReport" class="btn btn-primary" button-for="@(ButtonResourceKeyConstants.GenerateReportButton + "," + Model.LanguageId)"></button>
                </div>
            </div>
            <div class="form-row">
                @{
                    var maxDate = DateTime.Now.ToShortDateString();
                }
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="StartIssueDate" field-label-for="@(FieldLabelResourceKeyConstants.DateFromFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <eidss-calendar id="StartIssueDate" name="StartIssueDate" class="form-control" asp-for="StartIssueDate" style="width: 100%;" max-date=@maxDate></eidss-calendar>
                        <span asp-validation-for="StartIssueDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="EndIssueDate" field-label-for="@(FieldLabelResourceKeyConstants.DateToFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <eidss-calendar id="EndIssueDate" name="EndIssueDate" class="form-control" asp-for="EndIssueDate" style="width: 100%;" max-date=@maxDate></eidss-calendar>
                        <span asp-validation-for="EndIssueDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="DateFieldSourceId" field-label-for="@(FieldLabelResourceKeyConstants.DateFieldSourceFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="DateFieldSourceId" multiple
                                asp-items="@(new SelectList(Model.DateFieldSourceList, "intDateFieldSource", "strDateFieldSource"))" class="form-control">
                            <option value="0"></option>
                        </select>
                        <span asp-validation-for="DateFieldSourceId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="CaseClassificationId" field-label-for="@(FieldLabelResourceKeyConstants.CaseClassificationFieldLabel + "," + Model.LanguageId)"></label>
                    <select asp-for="CaseClassificationId" multiple
                            asp-items="@(new SelectList(Model.CaseClassificationList, "IdfsBaseReference", "Name"))" class="form-control">
                        <option value="0"></option>
                    </select>
                    <span asp-validation-for="CaseClassificationId" class="text-danger"></span>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <i class="fas fa-asterisk text-danger"></i>
                    <label asp-for="ReportTypeId" field-label-for="@(FieldLabelResourceKeyConstants.ReportTypeFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="ReportTypeId" style="width: 80%;"
                                asp-items="@(new SelectList(Model.ReportTypeList, "IdfsBaseReference", "Name"))" class="form-control">
                            <option></option>
                        </select>
                        <span asp-validation-for="ReportTypeId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <label asp-for="RegionId" field-label-for="@(FieldLabelResourceKeyConstants.RegionFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="RegionId"
                                asp-items="@(new SelectList(Model.GisRegionList, "idfsReference", "Name"))" class="form-control">
                            <option value="0"></option>
                        </select>
                        <span class="input-group-append">
                            <button id="btnRegion" class="btn btn-outline-secondary btn-sm border-left-0 border" type="button"><i class="fa fa-times fa-sm"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <label asp-for="RayonId" field-label-for="@(FieldLabelResourceKeyConstants.RayonFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="RayonId"
                                asp-items="@(new SelectList(Model.GisRayonList, "idfsReference", "Name"))" class="form-control">
                            <option value="0"></option>
                        </select>
                        <span class="input-group-append">
                            <button type="button" id="btnRayon" class="btn btn-outline-secondary btn-sm border-left-0 border"><i class="fa fa-times fa-sm"></i></button>
                        </span>
                    </div>
                </div>
                <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <label asp-for="SettlementId" field-label-for="@(FieldLabelResourceKeyConstants.SettlementFieldLabel + "," + Model.LanguageId)"></label>
                    <div class="input-group">
                        <select asp-for="SettlementId"
                                asp-items="@(new SelectList(Model.GisSettlementList, "idfsReference", "Name"))" class="form-control">
                            <option value="0"></option>
                        </select>
                        <span class="input-group-append">
                            <button type="button" id="btnRayon" class="btn btn-outline-secondary btn-sm border-left-0 border"><i class="fa fa-times fa-sm"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <fieldset class="form-group col-lg-10 col-md-10 col-sm-4 col-xs-4">
                    <legend>@Localizer.GetString(HeadingResourceKeyConstants.AnalysisParametersHeading)</legend>
                    <div class="form-row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <label asp-for="AnalysisMethodId" field-label-for="@(FieldLabelResourceKeyConstants.AnalysisMethodFieldLabel + "," + Model.LanguageId)"></label>
                            @foreach (var item in Model.AnalysisMethods)
                            {
                                <input asp-for="AnalysisMethodId" type="radio" value="@item.Id" checked /> @item.Value

                            }
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                            <i class="fas fa-asterisk text-danger"></i>
                            <label asp-for="ThresholdId" field-label-for="@(FieldLabelResourceKeyConstants.ThresholdFieldLabel + "," + Model.LanguageId)"></label>
                            <div class="input-group">
                                <select asp-for="ThresholdId" style="width: 100%;"
                                        asp-items="@(new SelectList(Model.ThresholdList, "Id", "Value"))" class="form-control">
                                </select>
                                <span asp-validation-for="ThresholdId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                            <i class="fas fa-asterisk text-danger"></i>
                            <label asp-for="TimeUnitId" field-label-for="@(FieldLabelResourceKeyConstants.TimeUnitFieldLabel + "," + Model.LanguageId)"></label>
                            <div class="input-group">
                                <select asp-for="TimeUnitId" style="width: 100%;"
                                        asp-items="@(new SelectList(Model.TimeUnitList, "IdfsBaseReference", "Name"))" class="form-control">
                                    <option></option>
                                </select>
                                <span asp-validation-for="TimeUnitId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                            <i class="fas fa-asterisk text-danger"></i>
                            <label asp-for="BaselineId" field-label-for="@(FieldLabelResourceKeyConstants.BaselineFieldLabel + "," + Model.LanguageId)"></label>
                            <div class="input-group">
                                <select asp-for="BaselineId" style="width: 100%;"
                                        asp-items="@(new SelectList(Model.BaselineList, "Id", "Value"))" class="form-control">
                                </select>
                                <span asp-validation-for="BaselineId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-4">
                            <i class="fas fa-asterisk text-danger"></i>
                            <label asp-for="LagId" field-label-for="@(FieldLabelResourceKeyConstants.LagFieldLabel + "," + Model.LanguageId)"></label>
                            <div class="input-group">
                                <select asp-for="LagId" style="width: 100%;"
                                        asp-items="@(new SelectList(Model.LagList, "Id", "Value"))" class="form-control">
                                </select>
                                <span asp-validation-for="LagId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2 form-check form-check-inline" style="@(Model.ShowIncludeSignature ? "display:block;" : "display:none;")">
                    <input asp-for="IncludeSignature" class="form-check-input" type="checkbox" />
                    <label asp-for="IncludeSignature" class="form-check-label" field-label-for="@(FieldLabelResourceKeyConstants.IncludeSignatureFieldLabel + "," + Model.LanguageId)"></label>
                </div>
                <div class="form-group col-md-4 form-check form-check-inline" style="@(Model.ShowUseArchiveData ? "display:block;" : "display:none;")">
                    <input asp-for="UseArchiveData" class="form-check-input" type="checkbox" />
                    <label asp-for="UseArchiveData" class="form-check-label" field-label-for="@(FieldLabelResourceKeyConstants.UseArchivedDataFieldLabel + "," + Model.LanguageId)"></label>
                </div>
            </div>

            <div class="col-xs-4 col-xs-offset-4" id="divLoading"></div>
            <div id="ReportView"></div>
        </div>
    </div>
</form>
@section runreport {
    <script type="text/javascript">
        function submitReport() {
            $("#ReportView").html("");
            onBegin();
            $.ajax({
                url: '@Url.Action("GenerateReport", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })',//controller name and action
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(getFormData())  //information for search
            })
                .done(function (result) {
                    $('#ReportView').html(result); //write returned partial view to empty div
                    onComplete();
                })
        };

        function onBegin() {
            $("#divLoading").html('<image  src="@Url.Content("~/Includes/Images/ajax-loader.gif")"  alt="Loading, please wait" />');
         };

        function onComplete() {
            var jsonData = {
                "strReportName":'@Model.ReportName',
                "idfIsSignatureIncluded": $("#IncludeSignature").is(':checked') ? 'true' : 'false'
            };
            //Save ReportAudit
                $.ajax({
                url: '@Url.Action("SaveReportAudit", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })',//controller name and action
                type: 'POST',
                contentType :'application/json; charset=utf-8',
                data: JSON.stringify(jsonData)  //information for search
            })
            .done(function (result) {
                $("#divLoading").html("");
                $('#DiagnosisId').select2MultiCheckboxes('remove');
                $('#DiagnosisId').select2MultiCheckboxes({
                    placeholder: "Choose multiple elements",
                    width: "100%"
                })
            })
        };

        function getFormData() {
            var jsonData = {
                "LanguageId": $("#LanguageId").val(),
                "PriorLanguageId": $("#PriorLanguageId").val(),
                "StartIssueDate": $("#StartIssueDate").val(),
                "EndIssueDate": $("#EndIssueDate").val(),
                "CaseTypeId": $("#CaseTypeId").val(),
                "DateFieldSourceId": $("#DateFieldSourceId").val(),
                "DiagnosisId": $("#DiagnosisId").val(),
                "ReportTypeId": $("#ReportTypeId").val(),
                "CaseClassificationId": $("#CaseClassificationId").val(),
                "RegionId": $("#RegionId").val(),
                "RayonId": $("#RayonId").val(),
                "SettlementId": $("#SettlementId").val(),
                "AnalysisMethodId": $("#AnalysisMethodId").val(),
                "ThresholdId": $("#ThresholdId").val(),
                "TimeUnitId": $("#TimeUnitId").val(),
                "BaselineId": $("#BaselineId").val(),
                "LagId": $("#LagId").val(),
                "UseArchiveData": $("#UseArchiveData").is(':checked') ? 'true' : 'false',
                "IncludeSignature": $("#IncludeSignature").is(':checked') ? 'true' : 'false',
                "PrintDateTime": localDate()
            };

            return jsonData;
        };

        $(document).ready(function () {
            $('#DiagnosisId').select2MultiCheckboxes({
                placeholder: "Choose multiple elements",
                width: "100%"
            });

            $('#DateFieldSourceId').select2MultiCheckboxes({
                placeholder: "Choose multiple elements",
                width: "100%"
            });

            $('#CaseClassificationId').select2MultiCheckboxes({
                placeholder: "Choose multiple elements",
                width: "100%"
            });

            $("#LanguageId").on("change", function () {
                $.ajax({
                    url: '@Url.Action("ChangeLanguage", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })',
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(getFormData())  //information for search
                })
                    .done(function (response) {
                        $("body").html(response);
                    });
            });

        });

        $("#RegionId").on("change", function () {
            RefreshRayon()
        });

        $("#RayonId").on("change", function () {
            RefreshSettlement()
        });

        $("#CaseTypeId").on("change", function () {
            RefreshDiagnosisList()
        });

        function RefreshCaseTypeList() {
            var langId = $("#LanguageId").val();
            var selectedValue = $('#CaseTypeId').val();

            $.ajax({
                url: '@Url.Action("GetCaseTypeList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' + "?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#CaseTypeId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, caseType) {
                        items += "<option value='" + caseType.idfsBaseReference + "'>" + caseType.name + "</option>";
                    });
                    $('#CaseTypeId').html(items);
                    $('#CaseTypeId').val(selectedValue);
                });
        };

        function RefreshDiagnosisList() {
            var nodeValue = $("#CaseTypeId").val();
            var langId = $("#LanguageId").val();
            var selectedValue = $('#DiagnosisId').val();

            $.ajax({
                url: '@Url.Action("GetDiagnosisList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' + "?node=" + nodeValue + "&langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
            .done(function (data) {
                $('#DiagnosisId').empty();
                var items = '<option value="0"></option>';
                $.each(data, function (i, diagnosis) {
                    items += "<option value='" + diagnosis.idfsBaseReference + "'>" + diagnosis.name + "</option>";
                });
                $('#DiagnosisId').html(items);
                $('#DiagnosisId').val(selectedValue);
            });
        };

        function RefreshReportTypeList() {
            var langId = $("#LanguageId").val();
            var selectedValue = $('#ReportTypeId').val();

            $.ajax({
                url: '@Url.Action("GetReportTypeList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' + "?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#ReportTypeId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, reportType) {
                        items += "<option value='" + reportType.idfsBaseReference + "'>" + reportType.name + "</option>";
                    });
                    $('#ReportTypeId').html(items);
                    $('#ReportTypeId').val(selectedValue);
                });
        };

        function RefreshDateFieldSourceList() {
            var langId = $("#LanguageId").val();
            var selectedValue = $('#DateFieldSourceId').val();

            $.ajax({
                url: '@Url.Action("GetVetDateFieldSourceList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' + "?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#DateFieldSourceId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, dateFieldSource) {
                        items += "<option value='" + dateFieldSource.intDateFieldSource + "'>" + dateFieldSource.strDateFieldSource + "</option>";
                    });
                    $('#DateFieldSourceId').html(items);
                    $('#DateFieldSourceId').val(selectedValue);
                });
        };

        function RefreshCaseClassificationList() {
            var langId = $("#LanguageId").val();
            var selectedValue = $('#CaseClassificationId').val();

            $.ajax({
                url: '@Url.Action("GetCaseClassificationList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' + "?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#CaseClassificationId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, caseClassification) {
                        items += "<option value='" + caseClassification.idfsBaseReference + "'>" + caseClassification.name + "</option>";
                    });
                    $('#CaseClassificationId').html(items);
                    $('#CaseClassificationId').val(selectedValue);
                });
        };

        function RefreshRegion() {
            var langId = $("#LanguageId").val();
            var selectedRegion = $('#RegionId').val();
            $.ajax({
                url: '@Url.Action("GetRegionList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' + "?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#RegionId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, region) {
                        items += "<option value='" + region.idfsReference + "'>" + region.name + "</option>";
                    });
                    $('#RegionId').html(items);
                    $('#RegionId').val(selectedRegion);
                    RefreshRayon();
                });
        };

        function RefreshRayon() {
            var nodeValue = $("#RegionId").val();
            var langId = $("#LanguageId").val();
            var selectedRayonId = $("#RayonId").val();
            $.ajax({
                url: '@Url.Action("GetRayonList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' +"?node=" + nodeValue + "&langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#RayonId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, rayon) {
                        items += "<option value='" + rayon.idfsReference + "'>" + rayon.name + "</option>";
                    });
                    $('#RayonId').html(items);
                    $("#RayonId").val(selectedRayonId);
                    RefreshSettlement();
                });
        };

        function RefreshSettlement() {
            var nodeValue = $("#RayonId").val();
            var langId = $("#LanguageId").val();
            var selectedSettlementId = $("#SettlementId").val();
            $.ajax({
                url: '@Url.Action("GetSettlementList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' +"?node=" + nodeValue + "&langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#SettlementId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, settlement) {
                        items += "<option value='" + settlement.idfsReference + "'>" + settlement.name + "</option>";
                    });
                    $('#SettlementId').html(items);
                    $("#SettlementId").val(selectedSettlementId);
                });
        };

        function RefreshTimeUnitList() {
            var langId = $("#LanguageId").val();
            var selectedValue = $('#TimeUnitId').val();

            $.ajax({
                url: '@Url.Action("GetTimeUnitList", "VeterinaryAberrationAnalysis", new { Area = "Reports", SubArea = "" })' + "?langId=" + langId,
                type: 'GET',
                contentType: 'application/json; charset=utf-8'
            })
                .done(function (data) {
                    $('#TimeUnitId').empty();
                    var items = '<option value="0"></option>';
                    $.each(data, function (i, timeUnit) {
                        items += "<option value='" + timeUnit.idfsBaseReference + "'>" + timeUnit.name + "</option>";
                    });
                    $('#TimeUnitId').html(items);
                    $('#TimeUnitId').val(selectedValue);
                });
        };
    </script>

    <partial name="_ValidationScriptsPartial" />

    @if (@Model.JavascriptToRun != null)
    {
        <script type="text/javascript">
            @Html.Raw(@Model.JavascriptToRun)
        </script>
    }
}